<details class="details-reset details-with-dialog text-center">
  <summary class="btn">Inscription</summary>
  <details-dialog class="details-dialog anim-fade-in fast wide" aria-label="Dialog">
    <div class="Box d-flex flex-row">
      <div class="Box-body overflow-auto">
      </div>
      <div class="Box-footer h-100">
        <form class="w-full max-w-lg">
          <p class="text-center title mt-4">SOIS PLUS FORT QUE TES <span class="excuses">EXCUSES</span></p>
          <p class="text-center inscription mt-2">INSCRIPTION</p>
          <p class="text-center connexion mb-2 mt-2">Déjà inscrit ?<a class="ml-2">Connexion</a></p>
          <button type="button" class="facebook mb-4 mt-2"><i class="fa fa-facebook-square fa-2x mr-2" aria-hidden="true"></i>S'inscrire avec
            facebook</button>
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="px-3  md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold red" for="grid-first-name">
                Prénom
              </label>
              <input
                class="appearance-none block  bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
                id="grid-first-name" type="text" placeholder="Sophie">
            </div>
            <div class="px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold red" for="grid-last-name">
                Nom
              </label>
              <input
                class="appearance-none block  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name" type="text" placeholder="Smith">
            </div>
          </div>
          <div class="flex flex-wrap  ">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 red" for="grid-email">
                Email
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-password" type="email" placeholder="sophiesmith@gmail.com">
          </div>
          <div class="flex flex-wrap  ">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mdp" for="grid-password">
                Mot de passe
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-password" type="password">
          </div>
          <div class="flex flex-wrap ">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mdp" for="grid-password">
                Confirmation du mot de passe
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-password" type="password">
          </div>
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="px-3  md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold red" for="grid-age">
                Age
              </label>
              <input
                class="appearance-none block  bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
                id="grid-first-name" type="text" placeholder="26 ans">
            </div>
            <div class="px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold next" for="grid-next">
                next
              </label>
              <button type="button" class="px-4 py-3 valid " data-close-dialog>ETAPE SUIVANTE<i class="fa fa-long-arrow-right ml-4" aria-hidden="true"></i></button>
            </div>
          </div>
          <p class="text-center reserved mt-6">© Mon-Programme 2019. All Rights Reserved</p>
        </form>
      </div>
    </div>
  </details-dialog>
</details>