<div class="footer bg-black">
  <div class="content flex ">
    <div class="w-2/6">
      <img src="https://zupimages.net/up/19/31/f50q.png" alt="logo" class="ml-10"/>
      <div class="icons text-center mt-10">
            <i class="fa fa-share-alt fa-2x" aria-hidden="true"></i>
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </div>

    </div>
    <div class="w-1/5">
      <h1 class="text-yellow-400 uppercase fs-5 mb-5">Mon programme</h1>
      <ul class="text-white">
        <li>
            <a href="/">Site Homme</a>
        </li>
        <li>
           <a href="/">Site Femme</a> 
        </li>
      </ul>
    </div>
    <div class="w-1/5">
      <h1 class="text-yellow-400 uppercase fs-5 mb-5">Service Client</h1>
      <ul class="text-white">
        <li>
        <a href="/">FAQ</a>   
        </li>
        <li>
           <a href="/">Contactez-nous</a>
        </li>
      </ul>
    </div>
    <div class="w-1/5">
      <h1 class="text-yellow-400 uppercase fs-5 mb-5">Information</h1>
      <ul class="text-white">
        <li>
          <a href="/">Condititions générales de vente</a>
        </li>
        <li>
            <a href="/">Politique de confidentialité</a>
        </li>
        <li>
           <a href="/">Mentions légales</a>
        </li>
        <li>
            <a href="/">Plan du site</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="condition">
      <p class="reserved text-white text-center fs-8">&copy; Mon-programmes 2019. All Rights Reserved</p>
  </div>
</div>
