<div class="w-full bg-black mt-2 pb-2">
  <div class="md:hidden block text-center pt-10">
    <a href="#"><i class="text-yellow-400 fa fa-share-alt fa-3x" aria-hidden="true"></i></a>
    <a href="#"><i class="text-yellow-400 mx-10 fa fa-facebook fa-3x" aria-hidden="true"></i></a>
    <a href="#"><i class="text-yellow-400 fa fa-instagram fa-3x" aria-hidden="true"></i></a>
  </div>
  <div class="flex flex-col md:flex-row justify-center md:justify-around">
    <div class="w-full text-center md:text-left md:w-1/6 pt-10">
      <h1 class="text-yellow-400 uppercase text-2xl font-bold mb-5">Mon programme</h1>
      <ul class="text-gray-200 text-lg leading-loose">
        <li>
          <a href="/">Site Homme</a>
        </li>
        <li>
          <a href="/">Site Femme</a>
        </li>
      </ul>
    </div>
    <div class="w-full text-center md:text-left md:w-1/6 pt-10">
      <h1 class="text-yellow-400 uppercase text-2xl font-bold mb-5">Service Client</h1>
      <ul class="text-gray-200 text-lg leading-loose">
        <li>
          <a href="/">FAQ</a>
        </li>
        <li>
          <a href="/">Contactez-nous</a>
        </li>
      </ul>
    </div>
    <div class="w-full text-center md:text-left md:w-1/6 pt-10">
      <h1 class="text-yellow-400 uppercase text-2xl font-bold mb-5">Information</h1>
      <ul class="text-gray-200 text-lg leading-loose">
        <li>
          <a href="/">Condititions générales de vente</a>
        </li>
        <li>
          <a href="/">Politique de confidentialité</a>
        </li>
        <li>
          <a href="/">Mentions légales</a>
        </li>
        <li>
          <a href="/">Plan du site</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <div>
      <img src="https://zupimages.net/up/19/31/f50q.png" alt="logo" class="my-10" />
    </div>
    <div class="hidden md:block text-center mb-10">
      <a href="#"><i class="text-yellow-400 ml-10 fa fa-share-alt fa-3x" aria-hidden="true"></i></a>
      <a href="#"><i class="text-yellow-400 ml-10 fa fa-facebook fa-3x" aria-hidden="true"></i></a>
      <a href="#"><i class="text-yellow-400 ml-10 fa fa-instagram fa-3x" aria-hidden="true"></i></a>
    </div>
    <p class="font-lato text-gray-100 text-center text-sm">&copy; Mon-programmes 2019. All Rights Reserved</p>
  </div>
</div>
