<!-- Show content historique -->

  <div class="pr-5 pl-5 pt-3 pb-5">
    <!-- Title -->
    <h1 class="uppercase pl-1 pt-3 pb-3 text-xs lg:text-lg text-gray-600 font-semibold tracking-widest leading-tight">
      Statistique de progression
    </h1>

    <!-- Table of Statistic -->


      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
      >
      </canvas>


      <!-- Button "a completer" -->
      <div class="flex justify-around mt-10">
        <button class="bg-indigo-200 text-indigo-400 text-sm font-semibold py-2 px-5 rounded-full uppercase mb-5">
            A completer
        </button>
        <button class="bg-orange-300 text-orange-500 text-sm font-semibold py-2 px-5  rounded-full uppercase mb-5">
            A completer
        </button>
      </div>
  </div>



