
  <div class=" p-10">
    <!-- Title -->
    <h1 class="uppercase lg:normal-case pl-1 pt-3 pb-3 text-xs lg:text-2xl text-gray-600 font-semibold tracking-widest leading-tight">
      Information corporelles
    </h1>
  </div>

  <!-- form for infos corporelles -->
  <form [formGroup]="formInfo">

    <!-- Sexe user -->
    <div class=" flex justify-around uppercase mb-3 ">
      <label class="font-semibold">Sexe</label>
      <input 
      type="text" 
      formControlName="sexe" 
      placeholder="FEMME" 
      class="w-1/4 mr-40 text-center"
      disabled="disabled"/>
    </div>

    <!-- border-bottom -->
    <div class="flex justify-center">
      <div class="border-b border-black h-2 w-11/12"></div>
    </div>

    <!-- Taille user -->
    <div class="flex justify-around uppercase mb-3 mt-3">
      <label class="font-semibold">Taille</label>
      <input
        type="text"
        formControlName="size"
        placeholder="168"
        class="w-1/4 text-center"
        disabled="disabled"
      />
      <p>CM</p>
    </div>

    <!-- border-bottom -->
    <div class="flex justify-center">
      <div class="border-b border-black h-2 w-11/12"></div>
    </div>

    <!-- Poids user -->
    <div class="flex justify-around uppercase pb-10 mt-3">
      <label class="font-semibold">Poids</label>
      <input
        type="text"
        formControlName="weight"
        placeholder="52"
        class="w-1/4 text-center"
        disabled="disabled"
      />
      <p>KG</p>
    </div>


    <div class="text-center pb-5 flex justify-center">
      <p class="text-center text-black font-bold">IMC = 
      <input
      type="text"
      formControlName="calcul"
      placeholder="IMC"
      class="w-1/4 text-black text-center"
      disabled="disabled" 
    /></p>
    </div>
  </form>