<!-- Show content programme -->

  <div class=" pr-5 pl-5 pt-3 pb-5">

    <!-- Title -->
    <h1 class="uppercase pl-1 pt-3 pb-3 text-xs lg:text-lg text-gray-600 font-semibold tracking-widest leading-tight">Recent</h1>

    <!-- content programme -->
    <div class="flex justify-around items-center mt-5">

        <!-- Image -->
        <div class="image h-12 w-12 md:h-24 md:w-24 lg:h-24 lg:w-24 object-cover rounded-full bg-center "></div>

      <!-- name programme -->
      <div class="">
        <h3 class="text-xs lg:text-lg font-bold pb-3 text-gray-800">Programme 1</h3>
        <p class="text-xs text-gray-400">Introduction du programme</p>
      </div>

      <!-- Time programme -->
      <h5 class="text-xs text-gray-500">30 min</h5>
    </div>

    <!-- Show other programme -->
    <div class="text-center mt-8">
            <button class="uppercase text-red-700 text-xs lg:text-lg">Charger plus</button>
    </div>
  </div>

