<img class="back" src="https://zupimages.net/up/19/31/puje.jpg">

<div class="index">
    <h6 class="blog">BLOG</h6>
    <h1 class="vie">STYLE DE VIE ET NUTRITION</h1>
    <div class="line-rosette"></div>
</div>
<div class="div-rose flex-row">
    <a class="lien flex-row">NOS PROGRAMMES</a>
    <a class="lien flex-row">SANTE</a>
    <a class="lien flex-row">PRATIQUE SPORTIVE</a>
</div>

<div class="group">
    <a class="nav-link return" [routerLink]="[ '/home' ]" routerLinkActive="active-nav"><i class="fa fa-undo mr-4" aria-hidden="true"></i>PAGE D'ACCUEIL</a>
</div>
<app-list-blog></app-list-blog>
<app-newsletter></app-newsletter>