
.img-left{
    clip-path: polygon(0% 0, 100% 0%, 85% 100%, 0 100%);
    padding-top: 5%;
    width: 53%;
    position: absolute;
    z-index: 0;

}
.img-right{
    clip-path: polygon(100% 0%, 15% 0%, 0% 100%, 100% 100%);
    padding-bottom: 5%;
    width: 53.3%;
    position: absolute;
    margin-left: 46.6%;
    z-index: 0;
}
img{
    height: 647px;

}
.titre-left{
    width: 649px;
    height: 133px;
    z-index: 10;

    margin-top: 20%;
}
.titre-right{
    width: 649px;
    height: 133px;
    z-index: 10;

    margin-top: 20%; 
}

.left{
    width: 500px;
    height: 79px;
    margin-left: 5%;
}
.right{
    width: 500px;
    height: 79px;
    margin-right:5%;
}
.p-left{
    width: 400px
}
.p-rigth{
    width: 400px;
}



