<div class="">
    <div class="flex">
        <img class="img-left object-cover" src="https://zupimages.net/up/19/32/yfax.jpeg" alt="">
        <img class="img-right object-cover" src="https://zupimages.net/up/19/32/m2lc.jpeg" alt="">
    </div>
    <div class="content flex justify-between">
        <div class="titre-left text-left left">
            <h1 class="uppercase text-white fs-3 ">Une bonne preparation physique</h1>
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur magni atque qui ipsum magnam quidem
                dolorem sit, rerum fugit</p>
        </div>
        <div class="titre-right text-right right">
            <h1 class="uppercase text-white fs-3 ">manger équilibré</h1>
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur magni atque qui ipsum magnam quidem
                dolorem sit, rerum fugit</p>
        </div>
    </div>
</div>