<div class="dashboard w-full h-full">
  <!-- Menu du dashboard -->
  <div class="flex justify-between absolute z-0 bg-black h-32 pt-3 w-full">
    <div class="flex ml-5">
      <div class="flex justify-center w-6 h-6 bg-white rounded-full ">
        <i class="fa fa-arrow-left woman self-center" aria-hidden="true"></i>
      </div>
      <h3 class="uppercase text-white ml-3 fs-9 pt-1">Resume du compte</h3>
    </div>
    <div class="flex mr-5">
      <h3 class="uppercase text-white mr-3 fs-9 pt-1">Suivi</h3>
      <div class="flex justify-center w-6 h-6 bg-white rounded-full">
        <i class="fa fa-arrow-right woman self-center" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="content p-2 pt-5 absolute z-10 text-center">
    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <!-- Info personnelles -->
      <app-dashboard-info-perso></app-dashboard-info-perso>

      <!-- Info facturation -->
      <app-dashboard-info-facturation></app-dashboard-info-facturation>

      <!-- Paiement -->
      <app-dashboard-paiement></app-dashboard-paiement>

      <button class="bg-woman text-white font-bold py-2 px-4 border border-blue-700 rounded uppercase">
                Mettre a jour
            <i class="fa fa-arrow-right text-white self-center ml-5" aria-hidden="true"></i>
          </button>
    </form>
    <!-- Historique -->
    <app-dashboard-historique></app-dashboard-historique>
  </div>
</div>
