<div class="progammes flex">
 <div class="card-objectif w-1/2 flex">
    <div class="text-objectif w-1/2 text-white pl-12 pt-10 pb-20 bg-objectif-black">
      <h3 class="objectif-h3 pt-8 pb-8 uppercase">Nos programmes</h3>
      <h1 class="objectif-h1 pb-10 uppercase">Prise de masse</h1>
      <p class="objectif-p mr-10">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
        mollitia harum accusamus distinctio in quae.
      </p>
      <button class="mt-10 uppercase">
        Voir plus
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
    <div class="img-objectif w-1/2">
      <img
        src="https://zupimages.net/up/19/32/p12r.jpeg"
        alt="prise de masse"
        class="object-cover"
      />
    </div>
  </div>
  <div class="card-objectif w-1/2 flex">
    <div class="text-objectif w-1/2 text-white pl-12 pt-10 pb-20 bg-objectif-brown">
      <h3 class="objectif-h3 pt-8 pb-8 uppercase">Nos programmes</h3>
      <h1 class="objectif-h1 pb-10 uppercase">sèche</h1>
      <p class="objectif-p mr-10">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
        mollitia harum accusamus distinctio in quae.
      </p>
      <button class="mt-10 uppercase">
        Voir plus
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
    <div class="img-objectif w-1/2">
      <img
        src="https://zupimages.net/up/19/31/9k2o.jpeg"
        alt="prise de masse"
        class="object-cover"
      />
    </div>
  </div>
</div>
<div class="progammes flex">
        <div class="card-objectif w-1/2 flex">
            <div class="img-objectif w-1/2">
                <img
                  src="https://zupimages.net/up/19/32/pfw7.jpeg"
                  alt="prise de masse"
                  class="object-cover"
                />
              </div>
           <div class="text-objectif w-1/2 text-white pl-12 pt-10 pb-20 bg-objectif-brown">
             <h3 class="objectif-h3 pt-8 pb-8 uppercase">Nos programmes</h3>
             <h1 class="objectif-h1 pb-10 uppercase">raffermissement</h1>
             <p class="objectif-p mr-10">
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
               mollitia harum accusamus distinctio in quae.
             </p>
             <button class="mt-10 uppercase">
               Voir plus
               <i class="fa fa-arrow-right" aria-hidden="true"></i>
             </button>
           </div>
         </div>
         <div class="card-objectif w-1/2 flex">
            <div class="img-objectif w-1/2">
                <img
                  src="https://zupimages.net/up/19/31/p8ki.jpeg"
                  alt="prise de masse"
                  class="object-cover"
                />
              </div>
           <div class="text-objectif w-1/2 text-white pl-12 pt-10 pb-20 bg-objectif-black">
             <h3 class="objectif-h3 pt-8 pb-8 uppercase">Nos programmes</h3>
             <h1 class="objectif-h1 pb-10 uppercase">entretien</h1>
             <p class="objectif-p mr-10">
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
               mollitia harum accusamus distinctio in quae.
             </p>
             <button class="mt-10 uppercase">
               Voir plus
               <i class="fa fa-arrow-right" aria-hidden="true"></i>
             </button>
           </div>
         </div>
       </div>
