<div class="back" [ngStyle]="{'background-image': 'url('+selected.photoUrl+')'}">
</div> 


<div class="flex but">
    <button (click)='backClick()'
        class="border border-grey-500 text-white-500 block rounded-sm font-bold py-4 px-6 mr-2 flex items-center hover:bg-teal-500 hover:text-white">""
        
       
    </button>
    <button (click)="onChange($event)"
        class="border border-grey-500 bg-grey-500 text-white-500 block rounded-sm font-bold py-4 px-6 ml-2 flex items-center hover:bg-teal-500">
        >
        
    </button>

   
</div> 