<!-- Home header -->
<app-home-header [selected]="selected" [programInfos]="programsInfos" (selectChange)="onChange($event)">
</app-home-header>

<!-- TODO: Ton programe sur mesure -->
<app-title>TON PROGRAMME SUR-MESURE</app-title>
<div class="w-3/3 flex justify-end mr-16">
  <app-form-customize-programme></app-form-customize-programme>
</div>
<!-- Programs list -->
<div class="pt-24 md:pt-32 px-5 md:px-10">
  <app-group-title>
    <app-title class="group-title">NOS MEILLEURS PROGRAMME</app-title>
    <app-sub-title class="group-subtitle">PROGRAMME</app-sub-title>
    <div class="group-action font-sm text-black opacity-25 hover:opacity-100 font-semibold">
      <a [routerLink]="['/nos-programmes']" routerLinkActive="router-link-active">
        Voir tout
      </a>
    </div>
  </app-group-title>
  <app-card-thumb-list>
    <app-card-thumb-program *ngFor="let item of programmes | async" class="mr-5" [imageUrl]="item.imageUrl"
      [title]="item.title" [content]="item.content | firstCharactere" [hasBgOverlay]="true" [inlineStars]="9"
      [urlTitle]="['/nos-programmes',item.urlTitle]" [level]="item.level">
    </app-card-thumb-program>
  </app-card-thumb-list>
</div>

<!-- Article list -->
<div class="pt-24 md:pt-32 px-5 md:px-10">
  <app-group-title>
    <app-title class="group-title">STYLE DE VIE ET NUTRITION</app-title>
    <app-sub-title class="group-subtitle">BLOG</app-sub-title>
    <div class="group-action font-sm text-black opacity-25 hover:opacity-100 font-semibold">
      <a [routerLink]="['/style-de-vie-et-nutrition']">
        Voir tout
      </a>
    </div>
  </app-group-title>

  <app-card-thumb-list [titleOnRight]="true">
    <app-card-thumb-program *ngFor="let item of articles | async" class="mr-5" [imageUrl]="item.image"
    [title]="item.title" [content]="item.content | firstCharactere" [hasBgOverlay]="true"
    [tag]="item.tags[0]" [urlTitle]="['/articles',item.urlTitle]">
  </app-card-thumb-program>
  </app-card-thumb-list>

</div>

<!-- Article list -->
<div class="pt-24 md:pt-32 px-5 md:px-10">
  <app-group-title>
    <app-title class="group-title">NOS DERNIERS ARTICLES</app-title>
    <app-sub-title class="group-subtitle">BLOG</app-sub-title>
    <div class="group-action font-sm text-black opacity-25 hover:opacity-100 font-semibold">
      <a [routerLink]="['/sante']">
        Voir tout
      </a>
    </div>
  </app-group-title>
  <app-card-thumb-list>
    <app-card-thumb-program *ngFor="let item of articles | async" class="mr-5" [imageUrl]="item.image"
    [title]="item.title" [content]="item.content | firstCharactere" [hasBgOverlay]="true"
    [tag]="item.tags[0]" [urlTitle]="['/articles',item.urlTitle]">
  </app-card-thumb-program>
  </app-card-thumb-list>
</div>

<!-- Newsletter form -->
<div class="pt-24 md:pt-32">
  <app-newsletter></app-newsletter>
</div>

<!-- Contact form -->
<div class="py-5 md:py-10 xl:pt-32 xl:-mb-12">
  <app-contact></app-contact>
</div>


<!-- Footer -->
<div>
  <app-footer></app-footer>
</div>
