<div style="position:relative; height:400px">
    <div style="position:relative;z-index:1">
        <img class="imageTop" src="https://zupimages.net/up/19/31/zbv9.png">
    </div>
    <div style="position:absolute;top:237px; width:50px; height:100px; z-index:2">
        <div class="line"></div>
    </div>
    <div style="position:absolute;top:200px; left:90px; width:410px; height:100px; z-index:2">
        <h1 class="title">NOS PROGRAMMES</h1><br>
        <a class="nav">NUTRITION</a><br>
        <a class="nav">SANTE</a><br>
        <a class="nav">PRATIQUE SPORTIVE</a><br>
    </div>
    <div style="position:absolute;top:300px; right:0px; z-index:4">
        <img class="video" src="https://zupimages.net/up/19/31/p8ki.jpeg">
    </div>
    <div class="black" style="position:absolute;top:600px; right:600px; z-index:3">
        <p class="programs">PROGRAMMES SPORTIFS POUR DEBUTANTS</p>
    </div>
    <div class="yellow" style="position:absolute;top:640px; right:0px; z-index:2">
        <div class="objects">
            <a class="slogan"><span class="sloganTitle" >ATTEINDRE</span> <br>VOS OBJECTIFS</a>
            <a class="slogan"><span class="sloganTitle" >NIVEAU</span> <br>DEBUTANT</a>
            <a class="slogan"><span class="sloganTitle" >GARANTIE</span> <br> SATISFACTION</a>
        </div>
    </div>
</div>
<div class="fleche"></div>
<button class=" composed text-black font-bold py-2 px-4 rounded">
        COMPOSE TON PROGRAMME
      </button>