.title {
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    font-family: Lato;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.98;
    letter-spacing: 2px;
    text-align: left;
    color: #b2c6d6;
    z-index: 1;
    position: relative;
}

.imageTop {
    width: 100%;
    height: 900px;
}

.line {
    width: 110%;
    height: 10%;
    background-color: #ffe264;
}

.nav {
    opacity: 0.7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: 0.9px;
    text-align: left;
    color: #c1d0dc;
}

.video {
    width: 700px;
    height: 430px;
}

.programs {
    width: 80%;
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 6.4px;
    text-align: left;
    color: #ffffff;
    margin-left: 10%;
    margin-top: 5%;
}

.black {
    background-color: black;
    width: 38%;
    height: 170px;
}

.yellow {
    width: 70%;
    height: 65%;
    background-color: #fcdd77;
}

@media screen and (max-width: 1320px) {
    .line {
        display: none;
    }
    .title {
        display: none;
    }
    .nav {
        display: none;
    }
    .yellow {
        display: none;
    }
    .slogan {
        display: none;
    }
    .video {
        border-radius: 5%;
        width: 80%;
        justify-content: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top:30%;
    }
    .black {
        width: 80%;
    }
    .programs {
        margin-left: auto;
    }
    .fleche {
        display: none;
    }
    .bouton{
        display: none;
    }
    #leading-loose{
        display:none;
    }
}

.objects {
    margin-top: 145px;
    display: flex;
    justify-content: space-around;
}

.slogan {
    width: 20%;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1.35px;
    text-align: left;
    color: #000000;
}

.sloganTitle {
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000000;
}

.fleche {
    height: 150px;
    width: 145px;
    margin-top: 470px;
    border: solid #fcdd77;
    margin-left: 720px;
    border-top: none;
    border-right: none;
    border-radius: 20%;
    z-index: 2;
}

.composed {
    background-color: #fcdd77;
    display: flex;
    margin-left: 840px;
    margin-top: -30px;
    z-index: 2;
}

form {
    z-index: 1;
    margin-left: 10px;
    margin: auto;
    margin-top: 0px;
    margin-left: 840px;
}

.buttonForm {
    box-shadow: 0 0 6px 0 rgba(252, 221, 119, 0.36);
    border: solid 1px #fcdd77;
    background-color: #ffffff;
    border-radius: 31px;
}

.myProg{
    width: 710px;
    height: 48px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: 4px;
    text-align: left;
    color: #000000;
    margin-left: 3%;
    margin-top: 5%
}

.photo{
    height: 500px;
    margin-top: 5%;
}