.contact-sm {
  width: 369.5px;
  height: 623.5px;
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: auto;
}
.contact-h1 {
  font-family: Lato;
  font-size: 23px;

  line-height: 2.35;
  letter-spacing: 1.15px;
  color: #1c1c1c;
}
.contact-p {
  margin-left: 10%;
  margin-right: 10%;
  font-family: Lato;
  font-size: 10px;
  line-height: 1.2;
  color: #a0a0a0;
}
textarea {
  width: 320.6px;
  height: 191px;
  opacity: 0.85;
  border-radius: 10px;
  opacity: 0.85;
  border: solid 1px #d9d9d9;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: 3.38;
  letter-spacing: 0.8px;
  text-align: left;
  color: #838383;
}
input {
  width: 323.1px;
  height: 41px;
  opacity: 0.85;
  border-radius: 10px;
  opacity: 0.85;
  border: solid 1px #d9d9d9;
  background-color: #ffffff;
  margin-bottom: 13px;
  padding-left: 10%;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: 3.38;
  letter-spacing: 0.8px;
  text-align: left;
  color: #838383;
}
button {
  width: 124.1px;
  height: 30.7px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(204, 102, 102, 0.58);
  background-color: #cc6666;
  font-size: 9px;
  line-height: 3.33;
  letter-spacing: 0.45px;
}
