<div class="contact-sm text-center">
  <h1 class="contact-h1 uppercase pt-5 font-black">
    Restons en contact
  </h1>
  <p class="contact-p pb-10">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ab soluta
    ullam similique illo laudantium.
  </p>
  <form class="flex-col">
    <input class="" placeholder="Nom" />
    <input class="" placeholder="Adresse e-mail" />
    <input class="" placeholder="Numéro de tél" />
    <input class="" placeholder="Sujet" />
    <textarea name="story" class="">
              Message
          </textarea
    >
    <button
      class="mr-auto rounded bg-woman text-white mt-3 uppercase"
    >
      Envoyer
    </button>
  </form>
</div>
