<div class="group text-right mt-6 mr-4 ">
  <a class="nav-link return" [routerLink]="['']" routerLinkActive="active-nav"
    ><i class="fa fa-undo mr-4" aria-hidden="true"></i>PAGE D'ACCUEIL</a
  >
</div>

<div *ngIf="article|async">
    <div>
      <h1 class="titre-article mb-8">{{ (article|async).title }}</h1>
    </div>
    <div class="text-right mr-4">
      <p class="date">{{ (article|async).createdAt }}</p>
    </div>

    <div class="image">
      {{ (article|async).photoUrl }}
    </div>

    <div class="mt-6">
      <p class="partage">PARTAGER SUR</p>
    </div>

    <div class="flex flex-row justify-betwwen bloc">
      <img class="facebook" src="https://zupimages.net/up/19/32/van1.png" />
      <img class=" twitter" src="https://zupimages.net/up/19/32/al3u.png" />
      <div class="line"></div>
      {{ (article|async).content }}
    </div>

    <button type="button" (click)="deleteArticle()" class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 rounded">
      Delete Article
  </button>
  <button class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded"
  [routerLink]="['/update-article/', (article|async)._id]">
    Mettre a jour
  </button>
</div>
<app-newsletter class="mt-6"></app-newsletter>
