
  <div class=" p-10">
    <!-- Title -->
    <h1 class="uppercase lg:normal-case pl-1 pt-3 pb-3 text-xs lg:text-2xl text-gray-600 font-semibold tracking-widest leading-tight">
      Information corporelles
    </h1>
  </div>

  <!-- Position Progress bar -->
  <div class="p-5">
    <div class="w-full">

        <!-- Progress Bar -->
      <p class="mb-1">Programme 1</p>
      <div class="shadow w-full bg-grey-light rounded-full">
        <div
          class="bg-green-800 text-xs rounded-full leading-none py-1 text-center text-white"
          style="width: 63%"
        >
          63 %
        </div>
      </div>

       <!-- Progress Bar -->
      <p class="mt-4 mb-1">Programme 2</p>
      <div class="shadow w-full bg-grey-light rounded-full">
        <div
          class="bg-green-800 text-xs rounded-full leading-none py-1 text-center text-white"
          style="width: 30%"
        >
          30 %
        </div>
      </div>

       <!-- Progress Bar -->
      <p class="mt-4 mb-1">Programme 3</p>
      <div class="shadow w-full bg-grey-light rounded-full">
        <div
          class="bg-green-800 text-xs rounded-full leading-none py-1 text-center text-white"
          style="width: 15%"
        >
          15 %
        </div>
      </div>

       <!-- Progress Bar -->
      <p class="mt-4 mb-1">Programme 4</p>
      <div class="shadow w-full bg-grey-light rounded-full">
        <div
          class="bg-green-800 text-xs rounded-full leading-none py-1 text-center text-white"
          style="width: 100%"
        >
          100 %
        </div>
      </div>

       <!-- Progress Bar -->
      <p class="mt-4 mb-1">Programme 5</p>
      <div class="shadow w-full bg-grey-light rounded-full">
        <div
          class="bg-green-800 text-xs rounded-full leading-none py-1 text-center text-white"
          style="width: 9%"
        >
          9 %
        </div>
      </div>
    </div>

    <!-- Show other progress bar -->
    <div class="text-center">
            <button class="uppercase text-red-700 text-xs lg:text-lg pt-5">Charger plus</button>
    </div>

  </div>

