

@tailwind base;


@tailwind components;

@tailwind utilities;


.btn-blog{
    @apply bg-transparent border-yellow-500 font-semibold py-2 px-12 border m-8 rounded-full uppercase mb-5;
}
@responsive{
    .fs-1{
        font-size: 80px;
    }
}

.fs-2{
    font-size: 60px;
}
.fs-3{
    font-size: 40px;
}
.fs-4{
    font-size: 30px;
}
.fs-5{
    font-size: 26px;
}
.fs-6{
    font-size: 24px;
}
.fs-7{
    font-size: 20px;
}
.fs-8{
    font-size: 18px;
}
.ml-90{
    margin-left: 90%;
}
.octogone {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    transform: rotate(45deg);
    background: transparent;
    border: 3px solid ;
    border-image-source: linear-gradient(45deg, rgba(255,255,0,2), rgba(247, 79, 79, 0.5));
    border-image-slice: 1;
}

.octogone:before {
    position: absolute;
    top: -3px; right: -3px; bottom: -3px; left: -3px;
    transform: rotate(45deg);
    content: '';
    border: inherit;
}

.octagonWrap {
    width:600px;
    height:600px;
    margin-left:500px;
    position: relative;
    overflow: hidden;
}

.bg-img{
    background-image: url('https://zupimages.net/up/19/31/elei.png');
    background-position: center;
    background-repeat: no-repeat; 
}
@responsive{
    .img-blog-right{
        border-bottom-right-radius: 15% 80%;
        border-top-right-radius: 15% 80%;
        border-bottom-left-radius: 0% 0%;
    }
    .margin-left-blog{
        margin-left: 90%;
    }

    .photo-blog-ecran{
        min-height: 500px;
        max-height: 500px;
    }
    .photo-blog-mobile{
        min-height: 300px;
        max-height: 300px;
    }
}
@responsive{
    .img-blog-bottom{
        border-bottom-right-radius: 80% 7%;
        border-bottom-left-radius: 80% 7%;
    }
}
