@tailwind base;
@tailwind components;
@tailwind utilities;
.fs-1 {
    font-size: 80px;
}

.fs-2 {
    font-size: 60px;
}

.fs-3 {
    font-size: 40px;
}

.fs-4 {
    font-size: 30px;
}

.fs-5 {
    font-size: 26px;
}

.fs-6 {
    font-size: 24px;
}

.fs-7 {
    font-size: 20px;
}

.fs-8 {
    font-size: 18px;
}

@responsive {
    /* .line {
        width: 3%;
        background-color: #fcdd77;
        height: 1.5%;
        z-index: 1;
        position: absolute;
        top: 35%;
    } */
    .titre-home {
        width: 405px;
        height: 48px;
        -webkit-backdrop-filter: blur(32px);
        backdrop-filter: blur(32px);
        font-family: Lato;
        font-size: 40px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.98;
        letter-spacing: 2px;
        text-align: left;
        color: #b2c6d6;
        z-index: 1;
        position: absolute;
        top: 30%;
        margin-left: 5%
    }
    .soustitre-home {
        width: 250px;
        height: 183px;
        opacity: 0.7;
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 3;
        letter-spacing: 0.9px;
        text-align: left;
        color: #c1d0dc;
        cursor: pointer;
    }
    .groupe-soustitre {
        top: 45%;
        z-index: 1;
        position: absolute;
        margin-left: 5%;
    }
    .icone-home {
        color: #fcdd77;
        cursor: pointer;
    }
    .goupe-iconehome {
        top: 90%;
        z-index: 1;
        position: absolute;
        margin-left: 2%;
        margin-right: 2%;
    }
    .video {
        top: 50%;
        z-index: 1;
        position: absolute;
        display: flex;
    }
    .yellow {
        background-color: #fcdd77;
        margin-left: 40%;
        top: 70%;
        position: absolute;
        z-index: 1;
        width: 60%;
        height: 30%;
    }
    .objectif {
        font-family: Roboto;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 3;
        letter-spacing: 0.9px;
        text-align: left;
        color: #000000;
        margin-top: 5%;
    }
    .result {
        font-family: Roboto;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 1.35px;
        text-align: left;
        color: #000000;
    }
}