<div class="news bg-black mt-5">
    <div class="reduction pt-10 pb-10">
        <p class="text-center woman fs-7 font-bold">- 10%</p>
        <p class="text-center fs-7 font-bold uppercase">sur tout les programmes</p>
    </div>
    <div class="team pb-2">
        <h1 class="text-center font-bold woman fs-7 uppercase">Rejoins la teams</h1>
    <p class="text-center paragraphe">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit quod culpa sunt
        molestiae.</p>
    </div>


    <form class="m-4">
        <input
            class="block w-4/5 mb-8 ml-auto mr-auto rounded p-4 border-t mr-0 text-gray-800 border-gray-200 bg-white"
            placeholder="Email" />
        <button
            class="block ml-auto mr-auto px-8 rounded bg-woman  text-gray-800 font-bold p-4 uppercase border-yellow-500">Envoyer</button>
    </form>
</div>