<div class="menu">
    <div class="flex justify-between">
        <a class="cursor-pointer"><p class="text-white"><i class="fa fa-arrow-circle-left mr-6 ml-4 woman" aria-hidden="true"></i>RAFFERMISSEMENT</p></a>
        <a class="cursor-pointer"><p class=" text-white">PRISE DE MASSE <i class="fa fa-arrow-circle-right ml-6 mr-4 woman" aria-hidden="true"></i></p></a>
    </div>
</div>

<div class="mt-6 ml-2">
    <h2 class="font-bold ml-6">PRATIQUE SPORTIVE</h2>
    <h1 class="mt-2 ml-6 woman font-bold">PERFORMANCE</h1>
    <div class="flex justify-center mt-6">
            <video  controls class="perform rounded-t-lg">
                    <source src="{{selected.videoUrl}}" type="video/webm">
                    Sorry, your browser doesn't support embedded videos.
            </video>
    </div>
    <div class="ml-6 mt-4">
    <p  class="woman">LOREM IPSUM</p>
    <p class="text-gray-700">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    </p>
    </div>
</div>