<div class="col content">
  <div class="mt-8 mb-8" *ngIf="articles">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th class="ml-10">Title</th>
          <th class="ml-10">Content</th>

          <th class="ml-10">Edit</th>
          <th class="ml-10">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles | async">
          <td>{{ article._id }}</td>
          <td class="ml-10">{{ article.title }}</td>
          <td class="ml-10">{{ article.content }}</td>

          <td>
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
              (click)="editArticle(article)"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded"
              (click)="deleteArticle(article._id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button"
    class="content-start sm:content-end md:content-center lg:content-between xl:content-around bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    routerLink ="['create-article']">
    Creer un nouvel article
  </button>
</div>
