<div class="img"></div>

<div class="flex justify-center">
    <div class="max-w-sm rounded-lg overflow-hidden shadow-lg relative bg-white mt-48 ">
        <div class="px-6 py-4">
            <div class="mb-4">
                <app-tag></app-tag><i class="fa fa-heart-o woman fa-2x ml-48" aria-hidden="true"></i>
            </div>
            <div class="font-bold text-xl mb-2 text-center">LES FRUITS SECS</div>
            <p class="text-gray-500 italic text-left">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.
            </p>
            <h3 class="mt-4 font-bold text-gray-600 mb-4">Tantum autem cuique tribuendum
            </h3>
            <p class="text-gray-600">
                Hac ita persuasione reducti intra moenia bellatores obseratis undique portarum aditibus, propugnaculis
                insistebant et pinnis, congesta undique saxa telaque habentes in promptu, ut si quis se proripuisset
                interius, multitudine missilium sterneretur et lapidum.
            </p>
            <p class="mt-2 mb-4 text-gray-600">
                Eo adducta re per Isauriam, rege Persarum bellis finitimis inligato repellenteque a conlimitiis suis
                ferocissimas gentes, quae mente quadam versabili hostiliter eum saepe incessunt et in nos arma moventem
                aliquotiens iuvant, Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens copia
                dederit ordinatus, explorabat nostra sollicite, si repperisset usquam locum vi subita perrupturus.
            </p>
            <h3 class="mt-4 font-bold text-gray-600 mb-4">Nohodares quidam
            </h3>
            <p class="text-gray-600">
                Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem
                diligas atque adiuves, sustinere. Non enim neque tu possis, quamvis excellas, omnes tuos ad honores
                amplissimos perducere, ut Scipio
            </p>
            <div class="mt-4 text-right text-sm text-gray-500">
                <p>PARTAGER SUR</p>
                <a class="cursor-pointer"><i class="fa fa-twitter bg-blue rounded-full fa-2x mr-4 mt-2"
                        aria-hidden="true"></i></a>
                <a class="cursor-pointer"><i class="fa fa-facebook bg-blue rounded-full fa-2x mt-2"
                        aria-hidden="true"></i></a>

            </div>

        </div>
    </div>
</div>

<app-footer-sm></app-footer-sm>
