<p class="px-10 mt-8">PARTAGER SUR</p>
<div class="flex justify-around w-full mt-5">
    <a href="#">
      <div class="h-16 w-16 rounded-full bg-blue-700 text-white flex justify-center items-center">
          <i class="mx-10 fa fa-facebook fa-3x" aria-hidden="true"></i>
      </div>
     </a>
     <a href="#">
        <div class="h-16 w-16 rounded-full bg-blue-700 text-white flex justify-center items-center">
            <i class="mx-10 fa fa-twitter fa-3x" aria-hidden="true"></i>
        </div>
       </a>
</div>
