<div class="welcome text-center text-white text-xl md:text-4xl mt-10 mb-10 mr-5 ml-5">
  <p>Bienvenue</p>
  <p>Afin de valider l'inscription,</p>
  <p>Merci de valider votre adresse e-mail</p>
</div>
<div class="text-center mt-10">
  <button [routerLink]="['/login']" class="w-full bg-white text-red-700 font-semibold py-2 px-4 shadow rounded uppercase tracking-wide mt-8">
    Connexion
  </button>
</div>

<!-- ellispe positionement -->
<div class="flex justify-center pb-10 pt-10">
  <div class="h-3 w-3 opacity-50 rounded-full mx-2 bg-white"></div>
  <div class="h-3 w-3 opacity-50 rounded-full mx-2 bg-white"></div>
  <div class="h-3 w-3 opacity-50 rounded-full mx-2 bg-white"></div>
  <div class="h-3 w-3 opacity-50 rounded-full mx-2 bg-red-700"></div>
</div>
