<div class="contact">
  <div class="flex justify-center mb-12">
    <div class="icons rounded-full flex justify-center">

        <i class="fa fa-long-arrow-down self-center text-white fa-3x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="back">
    <img src="https://zupimages.net/up/19/31/elei.png" alt="photo" />
  </div>
  <div class="content-contact mt-32">
    <h1 class="text-white text-center uppercase">Restons en contact</h1>
    <p class="text-white text-center mt-10">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      officiis enim distinctio debitis fugit? Necessitatibus eos reiciendis
      dolorum.
    </p>
    <form>
      <div class="flex justify-center">
        <div class="left mr-10">
          <input class="block" placeholder="Nom" />
          <input class="block" placeholder="Adresse e-mail" />
          <input class="block " placeholder="Numéro de tél" />
        </div>
        <div class="right ml-10">
          <input class="block " placeholder="Sujet" />
          <textarea name="story" class="">
            Message
        </textarea
          >
        </div>
      </div>
      <div class="mt-10 ">
        <button
          class="btn-contact block ml-auto mr-auto px-8 rounded bg-woman  text-white font-bold p-4 uppercase">
          Envoyer
        </button>
      </div>
    </form>
  </div>
</div>
