<!-- width and height content information personnelles -->
<div class="dashboard w-full h-full pt-16">
    <!-- Menu dashboard -->
    <div class="flex justify-between  bg-black h-8 pt-3 w-full">
      <!-- Show button navigation right -->
      <div class="flex ml-5">
        <div class="flex justify-center w-6 h-6 bg-white rounded-full ">
          <a [routerLink]="['/dashboard-compte']"><i class="fa fa-arrow-left woman self-center" aria-hidden="true"></i></a>
        </div>
        <a [routerLink]="'/dashboard-compte'"><h3 class="uppercase text-white ml-3 fs-9 pt-1">Resume du compte</h3></a>
      </div>
  
      <!-- Show button navigation left -->
      <div class="flex mr-5">
          <a [routerLink]="['/dashboard-suivi']"><h3 class="uppercase text-white mr-3 fs-9 pt-1">Suivi</h3></a>
        <div class="flex justify-center w-6 h-6 bg-white rounded-full">
            <a [routerLink]="['/dashboard-suivi']"><i class="fa fa-arrow-right woman self-center" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  
    <!-- Show content page information -->
    <div>
      <!-- Show formulaire user -->
      <form [formGroup]="myForm" (ngSubmit)="submit()">
        <!-- Info personnelles -->
        <div class="w-full bg-gradient">
          <div class="content p-2">
        <app-dashboard-info-perso
          [formInfo]="myForm.get('infos')"
        ></app-dashboard-info-perso>
        </div>
        </div>
  
        <!-- Info facturation -->
        <div class="content p-2">
        <app-dashboard-info-facturation
          [formFacturation]="myForm.get('facturation')"
        ></app-dashboard-info-facturation>
        </div>
  
        <!-- Paiement -->
        <app-dashboard-paiement
          [formPaiement]="myForm.get('paiement')"
        ></app-dashboard-paiement>
  
        <!-- Show button submit -->
        <div class="text-center">
          <button
            type="submit"
            class="bg-woman text-white font-bold py-2 px-4 border border-blue-700 rounded uppercase"
          >
            Mettre a jour
            <i
              class="fa fa-arrow-right text-white self-center ml-5"
              aria-hidden="true"
            ></i>
          </button>
        </div>
      </form>
  
      <!-- Historique -->
      <app-dashboard-historique></app-dashboard-historique>
    </div>
  </div>
  