.login {
  width: 100vw;
  height: 722.5px;
  background-color: #fda9a9;
  position: absolute;
  z-index: 10;

}
.return {
  border-radius: 100%;
  width: 47px;
  height: 47px;
  background-color: white;
  box-shadow: 0 6px 17px 0 rgba(204, 102, 102, 0.49);
  margin-right: 2%
}
i{
    color: #cc6666;
}
.home {
  justify-content: center;
  display: flex;
  margin-top: 25%;
  margin-left: 25%;
  width: 22.6px;
  height: 21.1px;
  object-fit: contain;
}
h1 {
  width: 321px;
  height: 64px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 1.04px;
  text-align: left;
  color: #1c1c1c;
}
.excuse{
    color: #cc6666;
    text-decoration: line-through;
}
.space{
    height: 60vh;
}
.ellipse-current {
  width: 12px;
  height: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.54);
  border: solid 1px #cc6666;
  background-color: #cc6666;
  border-radius: 50%;
  margin: 2%;
}
.ellipse {
  width: 12px;
  height: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 50%;
  margin: 2%;
}
button {
  width: 295px;
  height: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.inscription {
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.54);
  background-image: linear-gradient(98deg, #e2a3a3, #cc6666);
  font-family: Avenir;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.39;
  color: #ffffff;
}
.connexion {
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.54);
  background-color: #ffffff;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.39;
  color: #cc6666;
}
