  <!-- Card list body -->
  <div #scrollList class="scroll-list overflow-x-auto lgf:overflow-x-hidden flex flex-row flex-no-wrap">
    <app-card-thumb-program *ngFor="let item of items" class="mr-5" [imageUrl]="item.imageUrl" [title]="item.title"
      [content]="item.content" [hasBgOverlay]="true" [inlineStars]="9" [level]="item.level" [coaching]="items">
    </app-card-thumb-program>
  </div>

  <!-- Pagination -->
  <div class="w-full flex flex-row justify-between mt-10">
    <div>

    </div>
    <div>
      <!-- Scroll to left -->
      <span class="cursor-pointer mr-10 fa-stack fa-2x" (click)="scrollPrevious()">
        <i class="text-red-400 fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-angle-left fa-stack-1x fa-inverse"></i>
      </span>
      <!-- Scroll to right -->
      <span class="cursor-pointer fa-stack fa-2x" (click)="scrollNext()">
        <i class="text-red-400 fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
      </span>
    </div>
  </div>
