
  <div class=" p-10">
    <!-- Title -->
    <h1 class="title-dashboard-sm">
      Objectifs
    </h1>
  </div>

  <!-- Progress bar -->
  <div class="circle-wrap">
    <div class="circle">
      <div class="mask full">
        <div class="fill"></div>
      </div>

      <div class="mask half">
        <div class="fill"></div>
      </div>

      <div class="inside-circle">
        90%
      </div>
    </div>
  </div>

  <!-- Programmes -->
  <div class="flex justify-around mt-2 mb-2">
    <h2 class="title-dashboard-sm">Programmes en cours</h2>
    <p class="woman text-2xl">1</p>
  </div>
  <div class="flex justify-around mt-2 pb-5">
    <h2 class="title-dashboard-sm">Programmes terminer</h2>
    <p class="woman text-2xl">5</p>
  </div>

