
<div class="h-screen bg-black">
    <div class="text-right m-2">
        <a class="nav-link" [routerLink]="[ '/' ]"
        routerLinkActive="active-nav"><button type="button"
            class="bg-black  text-white font-semibold  py-2 px-4 border border-blue-900  rounded-full m-2">
            CONTACT
        </button></a>
        </div>

    <div class="line"></div>
    <h3 class="category">H O M M E</h3>
<h1 class="homme">H O M M E</h1>


   <h5>FEMME</h5> 
   <div class="text-center">
<a class="nav-link" [routerLink]="[ '/home-men' ]"
routerLinkActive="active-nav"><button type="button"
    class="bg-transparent hover:bg-yellow text-yellow font-semibold hover:text-white py-2 px-4 border border-yellow hover:border-transparent rounded-full mr-2">
    ENTRER
</button></a></div>
<p class="copyright "> &copy; Mon-programme 2019. All Rights Reserved.</p>
</div>