<div class="relative flex flex-col items-center">
  <div class="hidden xl:block absolute bg-contact z-1- inset-0"></div>
  <div class="flex justify-center">
    <div class="hidden xl:block rounded-full flex justify-center">
      <span class="-mt-12 fa-stack fa-3x">
          <i class="text-red-400 fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-long-arrow-down fa-stack-1x fa-inverse"></i>
        </span>
    </div>
  </div>
  <div class="shadow-xl xl:shadow-none mt-5 xl:mt-10 w-10/12 py-5 border border-gray-300 rounded-lg xl:rounded-none xl:border-none flex flex-col items-center">
    <app-title>Restons en contact</app-title>
    <p class="w-7/12 xl:w-5/12 text-gray-400 font-bold text-xl text-center pt-2 pb-20">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      officiis enim distinctio debitis fugit? Necessitatibus eos reiciendis
      dolorum.
    </p>
    <form class="w-10/12 xl:w-7/12">
      <div class="flex flex-col xl:flex-row justify-center">
        <div class="w-full flex flex-col mr-0 xl:mr-10">
          <input class="shadow-none xl:shadow-red border border-gray-400 xl:border-none italic mt-4 leading-2loose pl-10 w-full text-lg font-lato opacity-75 rounded-lg" placeholder="Nom" />
          <input class="shadow-none xl:shadow-red border border-gray-400 xl:border-none italic mt-4 leading-2loose pl-10 w-full text-lg font-lato opacity-75 rounded-lg" placeholder="Adresse e-mail" />
          <input class="shadow-none xl:shadow-red border border-gray-400 xl:border-none italic mt-4 leading-2loose pl-10 w-full text-lg font-lato opacity-75 rounded-lg " placeholder="Numéro de tél" />
        </div>
        <div class="w-full flex flex-col mr-0 xl:ml-10">
          <input class="shadow-none xl:shadow-red border border-gray-400 xl:border-none italic mt-4 leading-2loose pl-10 w-full text-lg font-lato opacity-75 rounded-lg" placeholder="Sujet" />
          <textarea class="shadow-none xl:shadow-red border border-gray-400 xl:border-none italic leading-2loose pl-10 mt-4 w-full text-lg font-lato opacity-75 rounded-lg" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="mt-10 ">
        <button class="relative z-10 btn-contact block ml-auto mr-auto px-8 shadow-red rounded-lg bg-red-400 text-white font-bold p-4 uppercase">
          Envoyer
        </button>
      </div>
    </form>
  </div>
</div>
