
.card{
  max-width: 200px;
  min-width: 170px;
}

.rectangle {
  width: 69px;
  height: 6px;
  background-color: #ffc400;
  margin-bottom: 20px;
  margin-left:90%;
}
/* Reverse card */
.rectangle-left{
  margin-left: 0;
  margin-right: 90%
}

.img-blog-left{
  border-bottom-right-radius: 0% 0%;
  border-top-right-radius: 0% 0%;
  border-bottom-left-radius: 7% 80%;
  border-top-left-radius: 7% 80%;
}
.numero-blog-left{
  text-align: left;
  margin-left: 10%;
}
.text-blog-left{
  text-align: left;
}
.btn-sauvegarde{
  margin-left: 65%;
}