
.rectangle {
  width: 69px;
  height: 6px;
}

.img-blog-left{
  border-bottom-right-radius: 0% 0%;
  border-top-right-radius: 0% 0%;
  border-bottom-left-radius: 7% 80%;
  border-top-left-radius: 7% 80%;
}
