<div class="footer-sm bg-black mt-10">
    <div class="icons text-center">
        <i class="fa fa-share-alt fa-1x" aria-hidden="true"></i>
        <i class="fa fa-facebook fa-1x" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-1x" aria-hidden="true"></i>
  </div>
  <div class="text-center">
    <div class="pt-5 pb-5">
        <h1 class="uppercase pb-3">Mon programme</h1>
        <ul class="text-white">
          <li>
              <a href="/">Site Homme</a>
          </li>
          <li>
             <a href="/">Site Femme</a> 
          </li>
        </ul>
      </div>
      <div class="pt-5 pb-5">
        <h1 class="uppercase pb-3">Service Client</h1>
        <ul class="text-white">
          <li>
          <a href="/">FAQ</a>   
          </li>
          <li>
             <a href="/">Contactez-nous</a>
          </li>
        </ul>
      </div>
      <div class="pt-5 pb-5">
        <h1 class="uppercase pb-3">Information</h1>
        <ul class="text-white">
          <li>
            <a href="/">Condititions générales de vente</a>
          </li>
          <li>
              <a href="/">Politique de confidentialité</a>
          </li>
          <li>
             <a href="/">Mentions légales</a>
          </li>
          <li>
              <a href="/">Plan du site</a>
          </li>
        </ul>
      </div>
      <div class="logo">
        <img src="https://zupimages.net/up/19/31/f50q.png" alt="logo" class=""/>
      </div>
  </div>
</div>