<!-- Show form personnel infos user -->
<div class="content w-full mt-5 mb-5 bg-white" [formGroup]="formInfo">
  <div class="p-3">
    <!-- Title -->
    <h1 class="uppercase">
      Mes Infos Personnelles
    </h1>

    <!-- Position of input  FirstName and LastName-->
    <div class="flex justify-between mt-3 mb-3">
      
      <!-- First Name user -->
      <div class="mr-5">
        <label>Prenom</label>
        <input class="w-full" type="text" formControlName="prenom" />
      </div>

      <!-- Last Name user -->
      <div class="ml-5">
        <label>Nom</label>
        <input class="w-full" type="text" formControlName="name" />
      </div>
    </div>

    <!-- Email user -->
    <div class="mt-3 mb-3">
      <label>Email</label>
      <input class="w-full" type="email" formControlName="email" />
    </div>

    <!-- Password user -->
    <div class="mt-3 mb-3">
      <label>Mot de Passe</label>
      <input class="w-full" type="password" formControlName="password" />
    </div>

    <!-- Confirmation password user -->
    <div class="mt-3 mb-3">
      <label>Confirmation</label>
      <input class="w-full" type="password" formControlName="confirmation" />
    </div>

    <!-- Age of user -->
    <div class="mt-3 mb-3">
      <label>Age</label>
      <input class="w-full" type="email" formControlName="age" />
    </div>

    <!-- Pseudo user -->
    <div class="mt-3 mb-3">
      <label>Pseudo</label>
      <input class="w-full" type="email" formControlName="pseudo" />
    </div>

    <!-- Goals and options user -->
    <div class="mt-3 mb-3">
      <label>Objectif</label>
      <select
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-2 pr-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-state"
      >
        <option>Prise de masse</option>
        <option>Raffermissement</option>
        <option>Sèche</option>
        <option>Entretien</option>
      </select>
    </div>
  </div>
</div>
