.px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact {
    width: 171px;
    height: 45px;
    border-radius: 22.5px;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(254deg, #ef6562, #ffe264);
    border-image-slice: 1;
}

.homme {
    width: 196px;
    height: 45px;
    border-radius: 22.5px;
    box-shadow: 1px 1px 21px 0 rgba(255, 226, 100, 0.16);
    border: solid 1px #ffe264;
    background-color: #000000;
    display: flex;
}

.femme {
    width: 196px;
    height: 45px;
    border-radius: 22.5px;
    box-shadow: 1px 1px 21px 0 rgba(196, 83, 82, 0.23);
    border: solid 1px #c45352;
    background-color: #000000;
}

.women {
    margin-right: 100px;
}

.men {
    margin-left: 100px;
}

.copyright {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.74px;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('https://zupimages.net/up/19/31/elei.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.octo {
    width: 840px;
    height: 840px;
}

.acces {
    display: flex;
    justify-content: space-around;
}

a.nav-link {
    margin-top: 350px;
}