<div class="popup fixed inset-0">
    <div class="text-right">
        <a class="nav-link" [routerLink]="[ '/' ]" routerLinkActive="active-nav"><button type="button"
                class="bg-black  text-white font-semibold  py-2 px-4 border contact  rounded-full m-4 ">
                CONTACT
            </button></a></div>
    <div class="acces">
        <a class="nav-link" [routerLink]="[ '/homme' ]" routerLinkActive="active-nav"><button type="button"
                class="bg-black  text-white font-semibold  py-2 px-4 border homme  rounded-full mr-2">
                ACCES HOMME
            </button></a>
            <img src="https://zupimages.net/up/19/31/age7.png">
        <a class="nav-link" [routerLink]="[ '/femme' ]" routerLinkActive="active-nav"><button type="button"
                class="bg-black text-white font-semibold  py-2 px-4 border femme  rounded-full mr-2">
                ACCES FEMME
            </button></a>
    </div>
    <div class="social">
    <i class="fa fa-google-plus" aria-hidden="true"></i>
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
</div>
    <p class="copyright "> &copy; Mon-programme 2019. All Rights Reserved.</p>
</div>