<!-- Bouton pour retour à l'acceuil -->
<div class="ml-5 pt-32 mb-6">
  <a class="nav-link return text-black font-bold" [routerLink]="[ '' ]" routerLinkActive="active-nav"><i
      class="fa fa-undo mr-2" aria-hidden="true"></i>PAGE D'ACCUEIL</a>
</div>




<!-- Premier formulaire pour information de commande, caché si deuxieme formulaire paiement actif -->
<div class="mt-6 w-3/3 flex" *ngIf="!isHidden">
  <div>
  </div>

  <!-- Rappel du composant function -->
  <div class="w-1/3 mr-16">
    <app-function></app-function>
  </div>

  <!-- Début du premier formulaire -->
  <div class="w-1/3 ">
    <div class="mb-10">
      <a>01 INFORMATION DE COMMANDE</a><a class="ml-10" ngHide="isHidden" (click)="nextPage()">02 PAIMENT</a></div>
    <p class="mb-6 text-2xl text-black-500">Information de commande</p>
    <form class="w-full max-w-lg mt-6">
      <div class="flex flex-wrap -mx-3 ">
        <div class="w-full md:w-1/2 px-3  md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25"
            for="grid-first-name">
            PRENOM
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="grid-first-name" type="text">
        </div>
        <div class="w-full md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25"
            for="grid-last-name">
            NOM
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-last-name" type="text">
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 ">
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25" for="grid-email">
            EMAIL
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-email" type="email">
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 ">
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25"
            for="grid-password">
            Password
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-password" type="password" placeholder="******************">
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 ">
        <div class="w-full md:w-1/2 px-3  md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25" for="grid-state">
            PAYS
          </label>
          <div class="relative">
            <select
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-state">
              <option>France</option>
              <option>Espagne</option>
              <option>Italie</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 px-3  md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25"
            for="grid-first-name">
            VILLE
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="grid-first-name" type="text">
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 ">
        <div class="w-full md:w-1/2 px-3  md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25"
            for="grid-first-name">
            CODE POSTAL
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="grid-first-name" type="text">
        </div>
        <div class="w-full md:w-1/2 px-3  md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25"
            for="grid-first-name">
            TELEPHONE
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="grid-first-name" type="text">
        </div>
      </div>
      <a class="text-gray-700 text-xs font-bold mb-2 opacity-25"><i class="fa fa-long-arrow-left mr-2"
          aria-hidden="true"></i>Retour au programme</a>
      <div class="w-full px-3 text-right mt-6">
        <button type="submit" ngHide="isHidden" (click)="nextPage()" class="px-4 py-2 bg-woman font-lato">PAIEMENT<i
            class="fa fa-long-arrow-right ml-4 " aria-hidden="true"></i></button>
      </div>
    </form>
    <!-- Fin du premier formulaire -->

    <!-- panier présent sur les 2 formulaires -->
  </div>
  <div class="w-1/3 bg-gray-300  ml-16 flex-col">
    <div class="ml-10">
      <p class="text-black font-bold">
        PANIER
      </p>  
      <div class="w-full flex flex-col">
          <div *ngFor="let cart of carts | async" class="flex flex-col">
            <div class="flex mt-8 border-top border-black"> <img src="{{cart.coaching.imageUrl}}" alt="profil" class="h-16 w-16 ml-2 mr-16 mb-10 rounded-full">
              <div>
              <p class="text-black">{{cart.coaching.title}}</p>
              <p > {{cart.coaching.price}}€</p>
              <p>total : € </p>
              </div>
            </div>

          </div>
          <button (click)="test(carts |async)">Test</button>
          <div>
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
              <option>-- Code promo ? -- </option>
            </select>
          </div>
          <div>
            <div class="mt-4 mb-4"><p class="text-gray-500">Total</p><br>
            <p class="text-gray-500">Livraison</p></div>
          </div>
          <div>
           <div class="mt-4"><p>Total</p></div> 
          </div>
      </div>
    </div>
  </div>
</div>


<!-- Changement de formulaire aprés validation de la premiere etape (information de commande), apparition du deuxieme formulaire -->
<div class="mt-6 w-3/3 flex" *ngIf="isHidden">
  <div>
  </div>
  <!-- 
  rappel du composant comment ca marche (function) -->
  <div class="w-1/3 mr-16">
    <app-function></app-function>
  </div>

  <!-- Deuxieme formulaire paiement -->
  <div class="w-1/3">
    <div class="mb-10">
      <a>01 INFORMATION DE COMMANDE</a><a class="ml-10">02 PAIMENT</a></div>
    <p class="mb-6 text-2xl text-black-500">Paiment</p>
    <form class="w-full mt-6">
      <div class=" lg:max-w-full mb-6">

        <!-- premiere option carte de crédit -->
        <div
          class="border-r border-b border-l border-gray-400 lg:border-l-1 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <label class="block uppercase tracking-wide text-black-700 text-xs font-bold mb-2">
            <input class="mr-2 leading-tight" type="radio">
            <span class="text-black">
              Carte de crédit
            </span>
            <div class="flex justify-end">
              <img class="image" src="https://zupimages.net/up/19/34/d08m.png">
            </div>
          </label>
          <div class="flex justify-center">
            <form class="w-full">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25"
                    for="grid-carte">
                    NUMERO DE CARTE
                  </label>
                  <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-carte" type="text" placeholder="0000 0000 0000 0000">
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25"
                    for="grid-name">
                    NOM
                  </label>
                  <input
                    class="appearance-none block w-full  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-name" type="text">
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25"
                    for="grid-name">
                    DATE
                  </label>
                  <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-name" type="text" placeholder="MM/YY">
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 opacity-25"
                    for="grid-name">
                    CCV CODE
                  </label>
                  <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-name" type="text">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--  Deuxieme option paypal -->
      <div class="lg:max-w-full mb-6">
        <div
          class="border-r border-b border-l border-gray-400 lg:border-l-1 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <label class="block uppercase tracking-wide text-black-700 text-xs font-bold mb-2">
            <input class="mr-2 leading-tight" type="radio">
            <span class="text-black">
              PayPal
            </span>
            <div class="flex justify-end">
              <img class="image" src="https://zupimages.net/up/19/34/fn9h.png">
            </div>
          </label>
        </div>
      </div>
    </form>
    <div class="w-2/4 px-3 mt-6">
      <button type="submit" ngHide="isHidden" class="px-4 py-2 bg-woman font-lato">CONFIRMER<i
          class="fa fa-long-arrow-right ml-4" aria-hidden="true"></i></button>
    </div>


    <!-- Panier rappelé sur les deux formulaires -->
  </div>
  <div class="w-1/3 bg-gray-300 opacity-50 ml-16 flex-col">
    <div class="ml-10">
      <p class="text-black font-bold">
        PANIER
      </p>
      <table class="w-full">
        <tr>
          <td>
            <div class="flex mt-10"> <img src="https://zupimages.net/up/19/31/rixg.png" alt="profil" class="h-16 w-16 ml-2 mr-16"><p class="text-gray-500">Programme 1</p></div>
            <div class="flex mt-8"> <img src="https://zupimages.net/up/19/31/rixg.png" alt="profil" class="h-16 w-16 ml-2 mr-16 mb-10"><p class="text-gray-500">Programme 2</p></div>
          </td>
        </tr>
        <tr>
          <td>
           <div><p>Code promo ? </p></div> 
          </td>
        </tr>
        <tr>
          <td>
            <div class="mt-4 mb-4"><p class="text-gray-500">Total</p><br>
            <p class="text-gray-500">Livraison</p></div>
          </td>
        </tr>
        <tr>
          <td>
           <div class="mt-4"><p>Total</p></div> 
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>