.valid {
    border-radius: 5px;
    border: solid 1px #fafafa;
    background-color: #cc6666;
    font-family: Avenir;
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.45px;
    text-align: center;
    color: #ffffff;
}

.label {
    font-family: AvenirNext;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #d4d9dd;
}

.title {
    font-family: AvenirNext;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #1b2125;
}

.image{
    width: 10%;
}