



<app-slide-show-home [selected]="selected" [programInfos]="programsInfos" (selectChange)="onChange($event)"></app-slide-show-home>
<app-nos-programme-home [selected]="selected" [programInfos]="programsInfos" (selectChange)="onChange($event)"></app-nos-programme-home>
<app-video-home [selected]="selected" [programInfos]="programsInfos" (selectChange)="onChange($event)"></app-video-home>


<div><h1 class="programs"> TON PROGRAMME SUR-MESURE</h1></div>
<img class="imagine"src="https://zupimages.net/up/19/32/exh6.jpeg">
