<!-- width and height content information personnelles -->
<div class="dashboard w-full h-full pt-16">
  <!-- Menu dashboard -->
  <div class="flex justify-between bg-black h-8 pt-3 w-full">
    <!-- Show button navigation right -->
    <div class="flex ml-5">
      <div class="flex justify-center w-6 h-6 bg-white rounded-full ">
        <a [routerLink]="['/dashboard-infos']"> <i class="fa fa-arrow-left woman self-center" aria-hidden="true"></i> </a>
      </div>
      <a [routerLink]="['/dashboard-infos']"> <h3 class="uppercase text-white ml-3 fs-9 pt-1">Infos Personnelles</h3> </a>
    </div>

    <!-- Show button navigation left -->
    <div class="flex mr-5">
      <a [routerLink]="['/dashboard-suivi']"> <h3 class="uppercase text-white mr-3 fs-9 pt-1">Suivi</h3> </a>
      <div class="flex justify-center w-6 h-6 bg-white rounded-full">
        <a [routerLink]="['/dashboard-suivi']"> <i class="fa fa-arrow-right woman self-center" aria-hidden="true"></i> </a>
      </div>
    </div>
  </div>

  <!-- Show content page information -->
  <div>
    <!-- Table user statistic -->
    <div class="w-full bg-gradient">
      <div class="content p-2">
        <div class="content border w-full mt-5 mb-5 bg-white rounded">
          <app-dashboard-statistique></app-dashboard-statistique>
        </div>
      </div>
    </div>

    <!-- Show content avis -->
    <div class="content p-2">
      <div class="content w-full mt-5 mb-5 bg-white rounded">
        <app-dashboard-avis></app-dashboard-avis>
      </div>
    </div>

    <!-- Mes programmes favoris -->
    <div class="content p-2">
      <h1 class="text-xl mb-0">Mes Programmes Favoris</h1>
      <div class="content w-full mt-2 mb-5 bg-white rounded">
        <app-dashboard-programme></app-dashboard-programme>
      </div>
    </div>

    <!-- Mes articles favoris -->
    <div class="content p-2">
      <h1 class="text-xl mb-0">Mes articles Favoris</h1>
      <div class="content w-full mt-2 mb-5 bg-white rounded">
        <app-dashboard-article></app-dashboard-article>
      </div>
    </div>
  </div>
</div>
