<!-- width and height content information personnelles -->
<div class="dashboard w-full h-full pt-16">
  <!-- Menu dashboard -->
  <div class="flex justify-between absolute z-10 bg-black h-32 pt-3 w-full">
    <!-- Show button navigation right -->
    <div class="flex ml-5">
      <div class="flex justify-center w-6 h-6 bg-white rounded-full ">
        <i class="fa fa-arrow-left woman self-center" aria-hidden="true"></i>
      </div>
      <h3 class="uppercase text-white ml-3 fs-9 pt-1">Infos Personnelles</h3>
    </div>

    <!-- Show button navigation left -->
    <div class="flex mr-5">
      <h3 class="uppercase text-white mr-3 fs-9 pt-1">Suivi</h3>
      <div class="flex justify-center w-6 h-6 bg-white rounded-full">
        <i class="fa fa-arrow-right woman self-center" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <!-- Show content page information -->
  <div class="content p-3 pt-10 absolute z-20 ">

    <!-- Table user statistic -->
    <app-dashboard-statistique></app-dashboard-statistique>

    <!-- Avis programme -->
    <app-dashboard-avis></app-dashboard-avis>

    <!-- Mes programmes favoris -->
    <h1 class="text-xl mb-0">Mes Programmes Favoris</h1>
    <app-dashboard-programme></app-dashboard-programme>

    <!-- Mes articles favoris -->
    <h1 class="text-xl mb-0">Mes articles Favoris</h1>
    <app-dashboard-article></app-dashboard-article>

  </div>
</div>
