<!-- Show content historique -->
<div class="content w-full mt-5 mb-5 bg-white">
  <div class="p-3">

    <!-- Title -->
    <h1 class="uppercase lg:normal-case pl-1 pt-3 pb-3 text-xs lg:text-2xl text-gray-600 font-semibold tracking-widest leading-tight">
      Historique des commandes
    </h1>

    <!-- Information Programme -->
    <div class="commande flex mt-5 mb-5">

      <!-- Date programme -->
      <div class="w-1/6 pl-5 text-gray-500 pt-8">
        <h3>12/07</h3>
      </div>

      <!-- Name, introduction and goal du programme -->
      <div class="w-3/6 ">
        <p class="text-xs lg:text-lg font-bold pb-3 text-gray-800">Programme 1</p>
        <p class="text-gray-500">Introduction du programme</p>
        <p class="objectif">Prise de mase</p>
      </div>

      <!-- Number of programme order -->
      <div class="w-2/6 text-gray-500 pt-8">
        <p>Numero de commande</p>
      </div>
    </div>

    <!-- Show other order -->
    <div class="text-center">
      <button class="uppercase text-red-700 text-xs lg:text-lg">Charger plus</button>
    </div>
  </div>
</div>
