<div class="sm:w-40 background">

    <div class="foot flex flex-row">
        <img class="goal img" src="https://zupimages.net/up/19/32/1eai.png" alt="goal">
        <img class="heart img" src="https://zupimages.net/up/19/31/n69c.png" alt="heart">
        <div class="return"><img class="home img" src="https://zupimages.net/up/19/32/68ed.png" alt="home"></div>
        <div class="line"></div>
        <img class="panier img" src="https://zupimages.net/up/19/31/uz2b.png" alt="panier">
        <img class="my-space img" src="https://zupimages.net/up/19/32/x2qg.png" alt="my-space">
    </div>
</div>