<div class="bg-popup bg-cover bg-center fixed inset-0 flex flex-col justify-between">

  <!-- Header Homme or Wowem popup with Contact button -->
  <div class="flex justify-between mt-5 flex-wrap">
    <div *ngIf="!isChoose" class="relative pl-10 md:pl-48 text-white text-5xl font-bold uppercase flex">
      <div class="ml-1 absolute line">
      </div>
      <span class="ml-4 title">{{sexTitle}}</span>
      <span
      class="sm:ml-1 md:-ml-32 mt-8 sm:text-xs title title-shadow absolute text-white font-bold uppercase">{{sexTitle}}</span>
    </div>
    <div class="flex flex-grow mr-5 mt-2 md:mt-0 flex-wrap justify-end">
      <button class="btn btn-size rounded-full p-1-1" [routerLink]="['/contact']">
        <span class="bg-black rounded-full text-white uppercase">Contact</span>
      </button>
    </div>
  </div>

  <!-- Go to Men or Wowen (not for "choose" popup) -->
  <div *ngIf="!isChoose" class="cursor-pointer switch mt-40 md:mt-48 tracking-widest text-gray-100 uppercase font-bold text-xl opacity-75 absolute right-0" [routerLink]="[switchUrl]">
    <div class="mr-12">
      {{switchTitle}}
    </div>
    <div class="text-right mr-5 -mt-2">
      <i class="fa fa-long-arrow-right text-red-600"
      aria-hidden="true"></i>
    </div>
  </div>

  <!-- Content center -->
  <div class="flex flex-col md:flex-row justify-around items-center">

    <!-- only for "choose" popup-->
    <button *ngIf="isChoose" class="mb-5 md:mb-0 acces cursor-pointer border-solid border border-yellow-500 btn-size bg-black text-white rounded-full font-bold uppercase" [routerLink]="['/men']">
      acces homme
    </button>

    <!-- only for handle background for home, men or women -->
    <div class="body py-10 flex flex-col items-center justify-end">
      <!-- only for men/women popup-->
      <div *ngIf="!isChoose" class="px-10 mb-10 text-justify text-white font-bold">
        {{textContent}}
      </div>
      <!-- only for men/women popup-->
      <button *ngIf="!isChoose" class="btn-size bg-white rounded-full font-bold uppercase enter hover:bg-yellow-500">
        entrer
      </button>
    </div>

    <!-- only for choose popup-->
    <button *ngIf="isChoose" class="mt-5 md:mt-0 acces cursor-pointer border-solid border border-red-600 btn-size bg-black text-white rounded-full font-bold uppercase" [routerLink]="['/women']">
      acces femme
    </button>
  </div>

  <!-- Footer links -->
  <div>
    <div class="flex justify-center m-5">
      <i class="cursor-pointer fa fa-google-plus mx-2 md:mx-5 p-3 text-gray-700 border-solid rounded-full border-gray-700 border-2"
      aria-hidden="true"></i>
      <i class="cursor-pointer fa fa-facebook-official mx-2 md:mx-5 p-3 text-gray-700 border-solid rounded-full border-gray-700 border-2"
      aria-hidden="true"></i>
      <i class="cursor-pointer fa fa-linkedin mx-2 md:mx-5 p-3 text-gray-700 border-solid rounded-full border-gray-700 border-2"
      aria-hidden="true"></i>
      <i class="cursor-pointer fa fa-twitter mx-2 md:mx-5 p-3 text-gray-700 border-solid rounded-full border-gray-700 border-2"
      aria-hidden="true"></i>
      <i class="cursor-pointer fa fa-instagram mx-2 md:mx-5 p-3 text-gray-700 border-solid rounded-full border-gray-700 border-2"
      aria-hidden="true"></i>
    </div>
    <div class="text-white text-xs subpixel-antialiased text-center m-1"> &copy; Mon-programme 2019. All Rights
      Reserved.</div>
    </div>
  </div>
