<!-- Show content historique -->
<div class="content w-full mt-5 mb-5 bg-white rounded">
  <div class=" pr-10 pl-10 pt-3 pb-5">
    <div class="flex justify-around">
      <div class="">
        <h1 class="title-dashboard-sm">Programmes</h1>
        <p class="text-center text-3xl">3</p>
      </div>
      <div class="">
        <h1 class="title-dashboard-sm">Mes Avis</h1>
        <div class="flex justify-around items-center">
          <div class="bg-start flex justify-center items-center bg-woman">
            <i class="fa fa-star text-yellow-500" aria-hidden="true"></i>
          </div>
          <p class="text-3xl">12</p>
        </div>
      </div>
    </div>
    <hr class="mt-4 mb-4" />
    <div class="">
      <h1 class="title-dashboard-sm">Mes tag recents</h1>
      <app-tag></app-tag>
    </div>
  </div>
</div>
