<div
  class="w-full shadow-xl lg:shadow-none border lg:border-none rounded-t-lg lg:rounded-none flex flex-col lg:flex-row"
  [ngClass]="{ 'lg:flex-row-reverse': isReverse }"
>
  <div
    class="h-64 rounded-t-lg lg:rounded-none lg:h-inherit w-full lg:w-3/5 bg-cover bg-center "
    [ngStyle]="{ 'background-image': 'url(' + article.image + ')' }"
    [ngClass]="isReverse ? 'lg:img-blog-left' : 'lg:img-blog-right'"
  ></div>
  <div class="w-full lg:w-1/2">
    <div class="px-10" [ngClass]="isReverse ? 'lg:pl-48' : 'lg:pr-48'">
      <div
        class="flex flex-col"
        [ngClass]="isReverse ? 'items-start' : 'items-end'"
      >
        <h3
          class="hidden lg:inline-block text-5xl"
          [ngClass]="{
            'text-left': isReverse,
            'text-right': !isReverse,
            'pl-10': isReverse,
            'pr-10': !isReverse
          }"
        >
          01
        </h3>
        <div
          class="hidden lg:inline-block bg-yellow-500 rectangle"
          [ngClass]="isReverse ? 'text-left' : 'text-right'"
        ></div>
      </div>

      <h1
        class="uppercase py-10 text-5xl"
        [ngClass]="isReverse ? 'lg:text-left' : 'lg:text-right'"
      >
        {{ article.title }}
      </h1>
      <p
        class="text-xl"
        [ngClass]="isReverse ? 'lg:text-left' : 'lg:text-right'"
      >
        {{ article.content | firstCharactere }}
      </p>
      <div
        class="hidden lg:inline-block"
        [ngClass]="isReverse ? 'text-left' : 'text-right'"
      >
      <a [routerLink]="['/articles', article.urlTitle]">
        <button
        type="button"
        class="bg-transparent border-yellow-500 hover:bg-yellow-500 font-semibold py-2 px-12 border m-8 rounded-full uppercase mb-5"
      >
        Voir L'article
      </button>
      </a>
      </div>
      <div
        class="flex items-center mt-10 w-full justify-end pb-5"
        [ngClass]="isReverse ? 'lg:justify-end' : 'lg:justify-start'"
        (click)="addWishArticle(article)"
      >
        <i
          class="cursor-pointer text-red-700 fa fa-heart-o fa-2x"
          aria-hidden="true"
          [ngClass]="{'fa-heart' : isFavorite , 'fa-heart-o': !isFavorite }"
        ></i>
        <p
        [ngClass]="{'hidden' : isFavorite , 'inline-block': !isFavorite }"
          class="hidden cursor-pointer ml-5 italic text-gray-600 tracking-wider"
        >
          Sauvegarder l'article
        </p>
        <p
        [ngClass]="{'inline-block' : isFavorite , 'hidden': !isFavorite }"
        class="hidden cursor-pointer ml-5 italic text-gray-600 tracking-wider">
          Article ajouté au favoris
        </p>
      </div>
    </div>
  </div>
</div>
