<ngfFormData
  [files]="file"
  [(FormData)]="sendableFormData"
  postName="file"
></ngfFormData>
<div class="flex justify-center pt-40">
  <div style="margin-bottom: 40px">
    <form
      [formGroup]="articleForm"
      #f="ngForm"
      (ngSubmit)="f.valid && onSubmit()"
      class="max-w-full"
    >
      <div class="flex justify-start">
        <button
          type="button"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 mb-4 px-4 rounded text-xs"
          (click)="deleteArticle(id)"
        >
          Supprimer
        </button>
      </div>
      <div
        *ngIf="file.length <= 0"
        ngfDrop
        multiple="1"
        selectable="1"
        [(validDrag)]="validComboDrag"
        [(files)]="file"
        accept="image/*"
        [(lastInvalids)]="lastInvalids"
        [(dragFiles)]="dragFiles"
        class="h-48 border-2 border-dotted border-gray-600 bg-gray-200 rounded flex justify-center items-center mb-4"
        [class.invalid-drag]="validComboDrag === false"
        [class.valid-drag]="validComboDrag"
        [fileDropDisabled]="fileDropDisabled"
        [ngClass]="{
          'border-red-500': f.submitted && articleForm.get('image').errors
        }"
      >
        <p
          *ngIf="f.submitted && articleForm.get('image').errors"
          class="text-red-500"
        >
          inserer une image
        </p>
        <div class="text-xl font-bold uppercase text-blue-800">
          <div class="text-center">
            <fa-icon
              [icon]="['fas', 'cloud-upload-alt']"
              class="cursor-pointer text-blue-800"
              [size]="'3x'"
            ></fa-icon>
          </div>
          <div>Uploader une image</div>
        </div>
      </div>

      <div
        class="w-full relative"
        *ngIf="
          ['image/gif', 'image/png', 'image/jpeg'].indexOf(file[0]?.type) >= 0
        "
      >
        <button
          class="absolute top-0 right-0 mr-5 mt-2"
          type="button"
          *ngIf="file.length > 0"
        >
          <fa-icon
            [icon]="['fas', 'times']"
            class="cursor-pointer text-red-800"
            [size]="'2x'"
            (click)="onRemoveFile(id)"
          ></fa-icon>
        </button>

        <div
          class="w-full h-48 bg-cover rounded shadow-lg"
          [ngfBackground]="file[0]"
        ></div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-first-name"
          >
            title
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            formControlName="title"
            id="grid-title"
            type="text"
            placeholder="titre"
            [ngClass]="{
              'border-red-500': f.submitted && articleForm.get('title').errors
            }"
          />
          <p
            *ngIf="f.submitted && articleForm.get('title').errors"
            class="text-red-500"
          >
            inserer un titre
          </p>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-state"
          >
            Category
          </label>
          <div class="relative">
            <select
              class="block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-state"
              formControlName="category"
              [ngClass]="{
                'border-red-500':
                  f.submitted && articleForm.get('category').errors
              }"
            >
            <option *ngFor="let category of categories">{{category.title}}</option>
            </select>
            <p
              *ngIf="f.submitted && articleForm.get('category').errors"
              class="text-red-500"
            >
              choisissez une category
            </p>
          </div>
        </div>
      </div>
      <div formArrayName="tags" class=" md:w-1/3 mb-6 md:mb-0">
        <form (ngSubmit)="tag.valid && addTag(tag.value)">
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="grid-tag"
            type="text"
            [formControl]="tag"
            placeholder="tag"
            [ngClass]="{
              'border-red-500': f.submitted && articleForm.get('tags').errors
            }"
          />
          <p
            *ngIf="f.submitted && articleForm.get('tags').errors"
            class="text-red-500"
          >
            Ajoutez un tag
          </p>
          <div *ngFor="let article of articles | async; let i = index">
            {{article.tags}}
            <fa-icon
                [icon]="['fas', 'times']"
                class="cursor-pointer text-gray-800 ml-2"
                [size]="'xs'"
                (click)="onRemoveTag(i)"
              ></fa-icon>
          </div>
          <div class="flex mt-2">
            <div *ngFor="let t of tags.controls; let i = index" class="ml-5">
              {{ t.value }}
              <fa-icon
                [icon]="['fas', 'times']"
                class="cursor-pointer text-gray-800 ml-2"
                [size]="'xs'"
                (click)="onRemoveTag(i)"
              ></fa-icon>
            </div>
          </div>
        </form>
      </div>

      <quill-editor
        #quill
        class="form-control max-h-full"
        formControlName="content"
        [ngClass]="{
          'border-red-500': f.submitted && articleForm.get('content').errors
        }"
      >
        <p
          *ngIf="f.submitted && articleForm.get('content').errors"
          class="text-red-500"
        >
          Ajoutez un texte
        </p>
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <select class="ql-font">
              <option selected></option>
              <option value="serif"></option>
              <option value="monospace"></option>
            </select>
            <select class="ql-size">
              <option value="small"></option>
              <option selected></option>
              <option value="large"></option>
              <option value="huge"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
            <button type="button" class="ql-strike"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
          </span>
          <span class="ql-formats">
            <button type="button" class="ql-list" value="ordered"></button>
            <button type="button" class="ql-list" value="bullet"></button>

            <select class="ql-align">
              <option selected></option>
              <option value="center"></option>
              <option value="right"></option>
              <option value="justify"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button type="button" class="ql-link"></button>
            <button type="button" class="ql-image"></button>
          </span>
        </div>
      </quill-editor>

      <div class="flex justify-between text-xs -mx-3 mt-6">
        <button
          type="reset"
          class="text-red-700 font-bold py-2 px-4 rounded"
          (click)="clearForm()"
        >
          Reset
        </button>
        <button
          class="bg-green-700 text-white text-xs font-bold py-2 px-4 rounded"
        >
          Valider
        </button>
      </div>
    </form>
  </div>
</div>
