<div class="number1 pt-48 pb-48 px-64 bg-black text-center text-white min-h-full">
    <h2 class="uppercase text-4xl">Le travail paie - en permanence!</h2>
    <h1 class="uppercase text-yellow-400 text-6xl"> 4 seances</h1>
    <h3 class="text-4xl">Programme de musculation</h3>
    <h3 class="text-4xl">Focus | Prise de masse</h3>
    <div class="flex justify-center">
        <img src="https://zupimages.net/up/19/43/tggq.png" alt="logo" class="object-scale-down object-center">
    </div>
    <h3 class="uppercase text-yellow-400 text-5xl">Arnol Schwarzenegger</h3>
    <p class="">LA FORCE NE VIENT PAS DE VOS VICTOIRES. VOS LUTTES
        DÉVELOPPENT VOS POINTS FORTS. PASSER PAR DES
        ÉPREUVES ET DÉCIDER DE NE PAS ABANDONNER,
        C'EST ÇA LA FORCE
        </p>
</div>
<div class="pt-48 px-64 bg-yellow-400 h-1/2-screen">
  <h1 class="text-center uppercase text-6xl font-extrabold">
    Prise de masse
  </h1>
  <div class="">
    <div class="flex justify-around mt-10">
      <h2 class="uppercase w-1/3 text-4xl font-bold">Séance 1</h2>
      <p class="w-2/3 text-center text-2xl font-bold">1 minutes de repos entre chaque série</p>
    </div>
    <div class="flex px-10 mt-10 ">
      <h2 class="uppercase w-1/3 text-2xl">Epaules</h2>
      <p class="w-2/3">
        Développé Haltères : 4 séries de 15 répétitions Haltères élévations
        latérales : 4 séries de 12 répétitions Barre droite élévation frontale :
        4 séries de 12 répétitions Arrière d'épaules (oiseau) aux poulies: 4
        séries de 15 répétitions
      </p>
    </div>
    <div class="flex px-10 mt-10 ">
        <h2 class="uppercase w-1/3 text-2xl">Trapézes</h2>
        <p class="w-2/3">
            5 séries de 15 répétitions
        </p>
      </div>
      <div class="flex px-10 mt-10 ">
        <h2 class="uppercase w-1/3 text-2xl">Cardio</h2>
        <p class="w-2/3">
            20min d'elliptique en fractionné
        </p>
      </div>
  </div>
</div>
