
  <div class=" p-10">
    <!-- Title -->
    <h1 class="uppercase lg:normal-case pl-1 pt-3 pb-3 text-xs lg:text-2xl text-gray-600 font-semibold tracking-widest leading-tight">
      Objectifs
    </h1>
  </div>

  <div class=" w-full text-center text-red-600 text-2xl font-bold">
    <h4>70%</h4>
  </div>
  <div class="">
    <canvas baseChart [data]="goaldata" [colors]="plastiqueColor"
             [chartType]="plastiqueType"></canvas>
  </div>

  <!-- Programmes -->
  <div class="flex justify-around mt-2 mb-2">
    <h2 class="uppercase lg:normal-case pl-1 pt-3 pb-3 text-xs lg:text-2xl text-gray-600 font-semibold tracking-widest leading-tight">Programmes en cours</h2>
    <p class="text-red-500 font-bold text-2xl">1</p>
  </div>
  <div class="flex justify-around mt-2 pb-5">
    <h2 class="uppercase lg:normal-case pl-1 pt-3 pb-3 text-xs lg:text-2xl text-gray-600 font-semibold tracking-widest leading-tight">Programmes terminer</h2>
    <p class="text-red-500 font-bold text-2xl">5</p>
  </div>

