.red {
    font-family: Avenir;
    font-size: 10px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.48px;
    text-align: left;
    color: #cc6666;
}

.title {
    font-family: Lato;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.33px;
    text-align: left;
    color: #42505c;
}

.bloc {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}

.valid {
    border-radius: 5px;
    border: solid 1px #fafafa;
    background-color: #cc6666;
    font-family: Avenir;
    font-size: 11px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.45px;
    text-align: center;
    color: #ffffff;
}

.return {
    font-family: Lato;
    font-size: 23px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.87;
    letter-spacing: 1.2px;
    text-align: left;
    color: #29282d;
}

.historique{
    display: flex;
    justify-content: center;
}


.decoration {
    border-radius: 8px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    border: none;
}
