<!-- Show content historique -->
<div class="content w-full mt-5 mb-5 bg-white">
  <div class="p-3">

    <!-- Title -->
    <h1 class="title-dashboard-sm ">
      Historique des commandes
    </h1>

    <!-- Information Programme -->
    <div class="commande flex mt-5 mb-5">

      <!-- Date programme -->
      <div class="date">
        <h3>12/07</h3>
      </div>

      <!-- Name, introduction and goal du programme -->
      <div class="programme ">
        <p class="name">Programme 1</p>
        <p class="introduction">Introduction du programme</p>
        <p class="objectif">Prise de mase</p>
      </div>

      <!-- Number of programme order -->
      <div class="numero">
        <p>Numero de commande</p>
      </div>
    </div>

    <!-- Show other order -->
    <button class="charge uppercase">Charger plus</button>
  </div>
</div>
