<div class="lg:flex lg:justify-between mt-10 mb-10">
    <div class="block photo">
        <img src="https://zupimages.net/up/19/31/4pis.jpeg" alt="photo" class="lg:rounded-r-full">
    </div>
    <div class="block text-center flex lg:mt-10">

        <div class="article lg:mr-10">
        <h3 class="lg:text-right text-4xl lg:text-5xl lg:mt-6 numero mb-0 lg:mr-10">01</h3>

        <div class="inline-block mx-auto rectangle mt-0"></div>
        <h1 class="lg:text-right uppercase fs-5 lg:text-5xl">Les fruit secs</h1>
        <p class="lg:text-right fs-8 mr-10 ml-10 lg:m-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, odit quasi possimus molestias enim reprehenderit ea, 
            error sint laborum maxime officia quos harum voluptatum. Quos quidem culpa temporibus placeat eligendi!</p>
        <div class="lg:text-right">
            <button class="bg-transparent border-yellow-500 font-semibold py-2 px-12 border m-8 rounded-full uppercase mb-5">
                Voir L'article
              </button>
        </div>
        <div class="flex ml-6 lg:mt-10 lg:ml-10 heart">
            <img src="https://zupimages.net/up/19/31/n69c.png" alt="heart"
            class=" mr-2 ml-2 h-8 w-8" >
            <p>Sauvegarder l'article</p>
        </div>
    </div>



</div>