<div class="flex">
    <div class="w-1/2">
        <img src="https://via.placeholder.com/1036x543.png" alt="photo" class="rounded-r-full">
    </div>
    <div class="w-1/2 text-center flex">
        <div class="w-1/6"></div>
        <div class="w-4/6">
        <h3 class="text-right fs-2">01</h3>
        <h1 class="text-right uppercase fs-3">Les fruit secs</h1>
        <p class="text-right fs-7">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, odit quasi possimus molestias enim reprehenderit ea, 
            error sint laborum maxime officia quos harum voluptatum. Quos quidem culpa temporibus placeat eligendi!</p>
        <div class="text-right">
            <button class="bg-transparent border-yellow-500 font-semibold py-2 px-12 border m-8 rounded-full uppercase">
                Voir L'article
              </button>
        </div>
        </div>
        <div class="w-1/6"></div>
    </div>


</div>