
<div ><p class="question mb-6">COMMENT CA MARCHE ?</p></div>
<div #function class=" flex flex-col container justify-center">
      <div class="mb-8 bloc">
            <div class="text-gray-900 font-bold text-xl mb-2 titre"><i class="check fa fa-check mr-4"
                        aria-hidden="true"></i>Lorem ipsum</div>
            <p class="text-gray-700 text-base text">Lorem ipsum dolor sit amet, con
                  sectetur adipiscing dolor sit amen.</p>
      </div>
      <div class="mb-8 bloc ">
            <div class="text-gray-900 font-bold text-xl mb-2 titre"><i class="check fa fa-check mr-4"
                        aria-hidden="true"></i>Lorem ipsum </div>
            <p class="text-gray-700 text-base text">Lorem ipsum dolor sit amet, con
                  sectetur adipiscing dolor sit amen.</p>
      </div>
      <div class="mb-8 bloc">
            <div class="text-gray-900 font-bold text-xl mb-2 titre"><i class="check fa fa-check mr-4"
                        aria-hidden="true"></i>Lorem ipsum</div>
            <p class="text-gray-700 text-base text">Lorem ipsum dolor sit amet, con
                  sectetur adipiscing dolor sit amen.</p>
      </div>
</div>