<div class="login">
  <div class="return flex justify-center items-center">
    <img src="https://zupimages.net/up/19/34/n48y.png" alt="arrow" />
  </div>
  <div class="text-center etapes">
    <h1>Inscription</h1>
    <p>2 étapes sur 4</p>
  </div>
  <div class="fex justify-center p-8">
    <form
      [formGroup]="myForm"
      (ngSubmit)="submit()"
      class="flex-col justify-center text-center"
    >
      <div class="flex  mb-10 justify-center border">
        <img
          src="https://zupimages.net/up/19/34/tv1b.png"
          alt="profil"
          class="profil "
        />
        <a>
          <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        </a>
      </div>

      <div class="form-group">
        <input
          class="form-control big-input w-full "
          placeholder="Pseudo"
          type="text"
          formControlName="pseudo"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control big-input w-full"
          placeholder="Objectif"
          type="text"
        />
      </div>
      <div class="flex justify-around ">
        <input
          class="form-control litle-input w-full mr-5"
          placeholder="Poids"
          type="text"
          formControlName="poids"
        />
        <input
          class="form-control litle-input w-full ml-5"
          placeholder="Taille"
          type="text"
          formControlName="taille"
        />
      </div>
      <input
        [ngClass]="{ 'opacity-50': !myForm.valid }"
        type="submit"
        class="btn validation"
      />
    </form>
  </div>
  <div class="flex justify-center pb-10 pt-10">
    <div class="ellipse"></div>
    <div class="ellipse"></div>
    <div class="ellipse-current"></div>
    <div class="ellipse"></div>
  </div>
</div>
