<!-- Show content programme -->
<div class="content w-full mt-2 mb-5 bg-white rounded">
  <div class=" pr-5 pl-5 pt-3 pb-5">

    <!-- Title -->
    <h1 class="title-dashboard-sm">Recent</h1>

    <!-- content programme -->
    <div class="flex justify-around items-center mt-5">

        <!-- Image -->
      <img
        src="https://zupimages.net/up/19/32/07qh.jpeg"
        width="20%"
        alt="programme"
        class="img-prog object-cover border"
      />

      <!-- name programme -->
      <div class="">
        <h3 class="">Programme 1</h3>
        <p class="text-xs text-gray-400">Introduction du programme</p>
      </div>

      <!-- Time programme -->
      <h5 class="text-xs text-gray-600">30 min</h5>
    </div>

    <!-- Show other programme -->
    <div class="text-center">
            <button class="uppercase woman text-center text-xs pt-10 pb-2">Charger plus</button>
    </div>
  </div>
</div>
