<div class="login">
  <div class="return flex justify-center items-center">
    <img [routerLink]="['/inscription-3']" src="https://zupimages.net/up/19/34/n48y.png" alt="arrow" />
  </div>
  <div class="text-center etapes">
    <h1>Inscription</h1>
    <p>4 étapes sur 4</p>
  </div>
  <div class="welcome text-center mt-10 mb-10 mr-5 ml-5">
    <p>Bienvenue</p>
    <p>Afin de valider l'inscription,</p>
    <p>Merci de valider votre adresse e-mail</p>
  </div>
  <div class="text-center mt-20">
    <button [routerLink]="['/connexion']" class="connexion uppercase">
      Connexion
    </button>
  </div>
  <div class="flex justify-center pb-10 pt-10 mt-20">
    <div class="ellipse"></div>
    <div class="ellipse"></div>
    <div class="ellipse"></div>
    <div class="ellipse-current"></div>
  </div>
</div>
