<div class="content w-full mt-5 mb-5 bg-white">
  <div class="p-3">
    <h1 class="uppercase">
      Mes Infos Personnelles
    </h1>
      <div class="flex justify-between mt-3 mb-3">
        <div class="mr-5">
          <label>Prenom</label>
          <input class="w-full" type="text" formControlName="prenom" />
        </div>
        <div class="ml-5">
          <label>Nom</label>
          <input class="w-full" type="text" formControlName="name" />
        </div>
      </div>
      
      <div class="mt-3 mb-3">
        <label>Email</label>
        <input class="w-full" type="email" formControlName="age" />
      </div>
      <div class="mt-3 mb-3">
        <label>Mot de Passe</label>
        <input class="w-full" type="password" formControlName="password" />
      </div>
      <div class="mt-3 mb-3">
        <label>Confirmation</label>
        <input class="w-full" type="password" formControlName="confirmation" />
      </div>
      <div class="mt-3 mb-3">
        <label>Age</label>
        <input class="w-full" type="email" formControlName="number" />
      </div>
      <div class="mt-3 mb-3">
        <label>Pseudo</label>
        <input class="w-full" type="email" formControlName="text" />
      </div>
      <div class="mt-3 mb-3">
        <label>Objectif</label>
        <input class="w-full" type="email" formControlName="age" />
      </div>

  </div>
</div>
