

<div class="text-right mt-4 pr-8">
    <h1 class="marche mb-2"> COMMENT CA MARCHE ?</h1>
    <p class="lorem mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur </p>
</div>


      <div #function class=" justify-center center">
            <div class=" full rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col  leading-normal">
              <div class="mb-8 bloc">
                <div class="text-gray-900 font-bold text-xl mb-2 titre"><i class="check fa fa-check mr-4" aria-hidden="true"></i>Lorem ipsum dolor</div>
                <p class="text-gray-700 text-base text">Lorem ipsum dolor sit amet, con
                        sectetur adipiscing dolor sit amen.</p>
              </div>
              <div class="mb-8 bloc ">
                    <div class="text-gray-900 font-bold text-xl mb-2 titre"><i class="check fa fa-check mr-4" aria-hidden="true"></i>Lorem ipsum dolor</div>
                    <p class="text-gray-700 text-base text">Lorem ipsum dolor sit amet, con
                            sectetur adipiscing dolor sit amen.</p>
                  </div>
                  <div class="mb-8 bloc">
                        <div class="text-gray-900 font-bold text-xl mb-2 titre"><i class="check fa fa-check mr-4" aria-hidden="true"></i>Lorem ipsum dolor</div>
                        <p class="text-gray-700 text-base text">Lorem ipsum dolor sit amet, con
                                sectetur adipiscing dolor sit amen.</p>
                      </div>
            </div>
            
          </div>