<div class="detail-photo border flex">
  <img
    src="https://zupimages.net/up/19/32/07qh.jpeg"
    alt=""
    class="programme-photo object-cover"
  />
    <div class="heart">
      <img
        src="https://zupimages.net/up/19/31/n69c.png"
        alt="heart"
        class=" object-cover"
      />
    </div>
  <div class="content-panier rounded self-end flex justify-center">
    <i class="fa fa-shopping-basket panier self-center" aria-hidden="true"></i>
  </div>
  <p class="ajouter self-end mt-3">Article ajouter a votre panier</p>
</div>
