<div class="login">
  <div class="text-center etapes">
    <h1>Connexion</h1>
  </div>
  <div class="fex justify-center p-8">
    <form
      [formGroup]="myForm"
      (ngSubmit)="submit()"
      class="flex-col justify-center text-center"
    >
      <div class="form-group">
        <input
          class="form-control w-full "
          placeholder="Email"
          type="email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control w-full"
          placeholder="Mot de passe"
          type="password"
          formControlName="password"
        />
      </div>
      <p class="forget">Mot de passe oublié ?</p>
      <input
        [ngClass]="{ 'opacity-50': !myForm.valid }"
        type="submit"
        class="btn validation"
      />
    </form>
    <button type="button" [routerLink]="['/inscription-1']" class="inscription uppercase w-full">
        Inscription
      </button>
  </div>
  
</div>
