<div>
    <p class="type">SELECTION DU TYPE DE PROGRAMME</p>
    <p class="describe">Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do.</p>
</div>

<div class=" relative w-64 bloc-button sm:flex-col md:flex-row-reverse lg:flex-col-reverse xl:flex-row ">
    <select
        class=" first flex-initial appearance-none w-full text-gray-200 bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline ml-4 mr-4">
        <option class="option">TYPE D'ACTIVITE</option>
        <option class="option">Option 2</option>
        <option class="option">Option 3</option>
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
    </div>
    <select
        class=" second flex-initial appearance-none w-full text-gray-700 bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline ml-4 mr-4">
        <option>OBJECTIFS</option>
        <option>Option 2</option>
        <option>Option 3</option>
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
    </div>
    <div class="slidecontainer ml-4 mr-4 flex-initial">
        <p class="seance">NOMBRE DE SEANCES / SEMAINE</p>
        <input type="range" min="1" max="10" value="5" class="slider" id="myRange">
        <p class="demo"><span id="demo"></span> séances</p>
    </div>
    <div class="search">
            <p class="titre mr-4">RECHERCHE
            </p>
        </div>
</div>