<div class="absolute bg-cover w-full h-full login shadow-full-inset-pink">
  <div
    (click)="return()"
    class="flex justify-center items-center mt-20 float-left ml-5 h-12 w-12 bg-white rounded-full"
  >
    <img src="https://zupimages.net/up/19/34/n48y.png" alt="arrow" />
  </div>
  <div class="text-center text-white mt-40 md:-mb-20">
    <h1 class="text-2xl md:text-6xl">Inscription</h1>
    <p class="test-lg font-semibold md:text-4xl">{{ index }} étapes sur 4</p>
  </div>

  <form
    class="fex justify-center p-8 md:p-32"
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
  >
    <app-step1
      *ngIf="index === 1"
      [formStep1]="myForm.get('step1')"
    ></app-step1>
    <app-step2
      *ngIf="index === 2"
      [formStep2]="myForm.get('step2')"
    ></app-step2>
    <app-step3
      *ngIf="index === 3"
      [formStep3]="myForm.get('step3')"
    ></app-step3>
    <app-step4 *ngIf="index === 4"></app-step4>
    <button
    [ngClass]="index < 4 ? 'w-full' : 'hidden'"
      (click)="indexChange()"
      type="button"
      class="w-full bg-red-600 text-white font-bold py-2 px-4 border border-red-700 rounded uppercase mt-8"
    >
      Validation
    </button>



  </form>
</div>
