<div
  class="absolute bg-cover bg-repeat w-full h-full login shadow-full-inset-pink"
>
  <div class="flex justify-center items-center mt-20 float-left ml-5 h-12 w-12 bg-white rounded-full">
    <img
      [routerLink]="['/']"
      src="https://zupimages.net/up/19/34/n48y.png"
      alt="arrow"
    />
  </div>
  <div class="text-center text-white mt-1/2-screen">
    <h1 class="text-2xl">Inscription</h1>
    <p class="test-lg font-semibold">1 étapes sur 4</p>
  </div>
  <div class="fex justify-center p-8">

      <!-- <app-step1></app-step1> -->
      <app-step2></app-step2>

  </div>
</div>
