<div class="login">
  <div class="return flex justify-center items-center">
    <img src="https://zupimages.net/up/19/34/n48y.png" alt="arrow" />
  </div>
  <div class="text-center etapes">
      <h1>Inscription</h1>
      <p>1 étapes sur 4</p>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submit()" class="flex-col text-center">
      <div class="form-group">
            <input class="form-control" placeholder="Nom" type="text" formControlName="name" />
      </div>
      <div class="form-group">
            <input class="form-control" placeholder="Prénom" type="text" formControlName="prenom" />
      </div>
      <div class="form-group">
            <input class="form-control" placeholder="Age" type="text" formControlName="age" />
      </div>
      <input [ngClass]="{'opacity-50' : !myForm.valid}"  type="submit" class="btn validation">
  </form>

    <div class="flex justify-center pb-10 pt-10">
      <div class="ellipse-current"></div>
      <div class="ellipse"></div>
      <div class="ellipse"></div>
      <div class="ellipse"></div>
    </div>
</div>
