<div class="general flex flex-col">

<div class="intro mb-8">
<p class="text-right presentation">SELECTION DU TYPE DE PROGRAMME</p>
<p class="description">Lorem ipsum dolor sit amet, con
        sectetur adipiscing dolor sit amen.
        </p>
</div>

<div class="icone"><i class="fa fa-filter" aria-hidden="true"></i></div>
    <div class="masse background mb-4">
        <div class="opac">
            <div class="text-center">
                <p class="title ">PROGRAMMES</p>
                <a>
                    <p class="content">PRISE DE MASSE</p>
                </a>
            </div>
        </div>
    </div>
    <div class="raferm background mb-4">
        <div class="opac">
            <div class="text-center">
                <p class="title">PROGRAMMES</p>
                <a>
                    <p class="content">RAFFERMISSEMENT</p>
                </a>
            </div>
        </div>
    </div>
    <div class="seche background mb-4">
        <div class="opac">
            <div class="text-center ">
                <p class="title">PROGRAMMES</p>
                <a>
                    <p class="content">SECHE</p>
                </a>
            </div>
        </div>
    </div>
    <div class="entretien background mb-4">
        <div class="opac">
            <div class="text-center ">
                <p class="title">PROGRAMMES</p>
                <a>
                    <p class="content">ENTRETIEN</p>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center bas-page"><p class="every">VOIR TOUT NOS PROGRAMMES </p><div class="circle"><i class="fa fa-angle-right arow" aria-hidden="true"></i></div>
    </div>
</div>