<div class="absolute bg-cover bg-repeat w-full h-full login">
  <div class="login-header flex justify-between items-center pt-5 mt-16 mb-32 md:mb-64 mr-5 ml-5">
    <h1 class="uppercase text-xl md:text-3xl font-semibold">Sois plus fort que tes <span
        class="uppercase text-xl md:text-3xl font-bold text-red-700 underline">excuses</span></h1>
    <div
      class="flex justify-center items-center shadow-md h-12 w-12 md:h-16 md:w-16 pl-2 pr-2 rounded-full bg-white text-red-700">
      <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="fex justify-center p-8 md:p-32 md: mt-20">
    <form name="myForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate
      class="flex-col justify-center text-center">
      <div class="form-group">
        <input class="w-full shadow bg-gray-100 rounded border border-gray-500 p-4 py-4 mt-2 mb-2 "
           type="username" name="username" [(ngModel)]="model.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" placeholder="username" required/>
           <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
            <div *ngIf="username.errors.required" class="text-red-700">L'username est requis</div>
          </div>
      </div>
      <div class="form-group">
        <input class="w-full shadow bg-gray-100 rounded border border-gray-500 p-4 py-4 mt-2 mb-2 "
        name="password" [(ngModel)]="model.password" #password="ngModel" type="password" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" placeholder="Mot de passe" required
        minlength="6" />
        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors.required" class="text-red-700">Le mot de passe est requis</div>
          <div *ngIf="password.errors.minlength" class="text-red-700">6 caractères minimum </div>
        </div>
      </div>
      <div class="form-group">
      <button  [disabled]="loading" aria-hidden="true"
        class="w-full bg-red-600 text-white font-bold py-2 px-4 border border-red-700 rounded uppercase mt-22">
        Connexion
      </button></div>
      <p class="text-white italic text-sm float-left">Mot de passe oublié ?</p>
    </form>

    <div class="text-center mt-10">
      <button [routerLink]="['/inscription']"
        class="w-full bg-white text-red-700 font-semibold py-2 px-4 shadow rounded uppercase tracking-wide mt-8">
        Inscription
      </button>
    </div>
  </div>
</div>