<div>
      <div class="text-xl mb-2 text-right">COMMENT CA MARCHE ?</div>
      <p class="text-gray-700 text-right mb-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <div class="max-w-full rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
            </div>
            <div class="flex justify-around">
                  <i class="fa fa-check-circle-o fa-5x text-green-500" aria-hidden="true"></i>
                  <p class="text-black font-bold">Lorem ipsum dolor</p>
                  <i class="fa fa-check-circle-o fa-5x text-green-500" aria-hidden="true"></i>
                  <p class="text-black font-bold">Lorem ipsum dolor</p>
                  <i class="fa fa-check-circle-o fa-5x text-green-500" aria-hidden="true"></i>
                  <p class="text-black font-bold">Lorem ipsum dolor</p>
            </div>
      </div>
</div>