<div>
      <div class="text-xl mb-2 text-right">COMMENT CA MARCHE ?</div>
      <p class="text-gray-700 text-right mb-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
     
<div class="w-full">
      <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b flex flex-col lg:rounded-b-none lg:rounded-r p-4   leading-normal">
            <div class="mb-8 w-3/3">

                  <div class="3/3" > <i class="fa fa-check-circle-o fa-5x text-green-500" aria-hidden="true"></i>
                        <p class="text-black font-bold">Lorem ipsum dolor</p>
                  

                   <i class="fa fa-check-circle-o fa-5x text-green-500" aria-hidden="true"></i>
                        <p class="text-black font-bold">Lorem ipsum dolor</p>
                  
                    <i class="fa fa-check-circle-o fa-5x text-green-500" aria-hidden="true"></i>
                        <p class="text-black font-bold">Lorem ipsum dolor</p>
                  </div>
            </div>
      </div>
</div>